/* DuiWidgetSlideOutAnimationStyle : DuiAbstractWidgetAnimationStyle */
DuiWidgetSlideOutAnimationStyle {
    duration: 300;
    easing-curve: outsine;
    to: "top";
}

DuiDialog DuiWidgetSlideOutAnimationStyle {
    to: "bottom";
    duration: 300;
}

DuiInfoBanner DuiWidgetSlideOutAnimationStyle {
    to: "left";
}
