/* DuiWidgetSlidedeInAnimationStyle : DuiAbstractWidgetAnimationStyle */
DuiWidgetSlideInAnimationStyle {
    duration: 300;
    easing-curve: insine;
    from: "top";
}

DuiDialog DuiWidgetSlideInAnimationStyle {
    from: "bottom";
    duration: 300;
}

DuiInfoBanner DuiWidgetSlideInAnimationStyle {
    from: "left";
}
