/* DuiOverlayStyle : DuiSceneWindowStyle */
DuiOverlayStyle {

    minimum-size: 100 100;
    preferred-size: 100 100;
    maximum-size: 100 100;

    vertical-align: top;
    horizontal-align: right;

    offset: -20 20;
}

