/* DuiObjectMenuStyle : DuiSceneWindowStyle */
DuiObjectMenuStyle {

    /* inherited from DuiWidgetStyle */
    show-animation: "DuiWidgetFadeInAnimation";
    hide-animation: "DuiWidgetFadeOutAnimation";
    background-color: #000000;
    background-opacity: 0.8;
}
