/* DuiSeparatorStyle : DuiWidgetStyle */

DuiSeparatorStyle {

    /* Note: this style is deprecated.
       It will be replaced by the *Horizontal and *Vertical styles
       below. */

    span: 0.6mm;

    background-image: "duiseparator-horizontal-background" 2px 2px 2px 2px;

    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

DuiSeparatorStyleHorizontal {
    span: 0.6mm;

    background-image: "duiseparator-horizontal-background" 2px 2px 2px 2px;

    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

DuiSeparatorStyleVertical {
    span: 0.6mm;

    background-image: "duiseparator-vertical-background" 2px 2px 2px 2px;

    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}


