@const C_INPUT_BG:          meegotouch-textedit-background $CORNER_MARGINS;
@const C_INPUT_BG_SELECTED: meegotouch-textedit-background-selected $CORNER_MARGINS;
@const C_INPUT_BG_INVERTED: meegotouch-textedit-background $CORNER_MARGINS;
@const C_INPUT_BG_SELECTED_INVERTED: meegotouch-textedit-background-selected $CORNER_MARGINS;
@const CHECKBOX_SIZE:       4.2mm 4.2mm;

/* switch */

#CommonSwitch {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonLeftSwitch {
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonRightSwitch {
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonSwitchInverted {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonLeftSwitchInverted {
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
thumb-image: "meegotouch-switch-thumb-inverted" 14px 14px 14px 14px;
thumb-image-shadow: "meegotouch-switch-shadow-inverted" 14px 14px 14px 14px;
slider-image: "meegotouch-switch-off-inverted" 32px 32px 20px 20px;
slider-image-selected: "meegotouch-switch-on-inverted" 32px 32px 20px 20px;
}
#CommonLeftSwitchInverted:pressed {
thumb-image: "meegotouch-switch-thumb-pressed-inverted" 14px 14px 14px 14px;
}
#CommonRightSwitchInverted {
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
thumb-image: "meegotouch-switch-thumb-inverted" 14px 14px 14px 14px;
thumb-image-shadow: "meegotouch-switch-shadow-inverted" 14px 14px 14px 14px;
slider-image: "meegotouch-switch-off-inverted" 32px 32px 20px 20px;
slider-image-selected: "meegotouch-switch-on-inverted" 32px 32px 20px 20px;
}
#CommonRightSwitchInverted:pressed {
thumb-image: "meegotouch-switch-thumb-pressed-inverted" 14px 14px 14px 14px;
}

/* Checkbox */

#CommonCheckBox {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-background 0px 0px 0px 0px;
margin-left:     1.5mm;
margin-right:    1.5mm;
}
#CommonCheckBox:pressed {
background-image: meegotouch-button-checkbox-background-pressed 0px 0px 0px 0px;
}
#CommonCheckBox:selected {
background-image: meegotouch-button-checkbox-background-selected 0px 0px 0px 0px;
}
#CommonLeftCheckBox {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonLeftCheckBox:pressed {
background-image: meegotouch-button-checkbox-background-pressed 0px 0px 0px 0px;
}
#CommonLeftCheckBox:selected {
background-image: meegotouch-button-checkbox-background-selected 0px 0px 0px 0px;
}
#CommonRightCheckBox {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-background 0px 0px 0px 0px;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonRightCheckBox:pressed {
background-image: meegotouch-button-checkbox-background-pressed 0px 0px 0px 0px;
}
#CommonRightCheckBox:selected {
background-image: meegotouch-button-checkbox-background-selected 0px 0px 0px 0px;
}

#CommonCheckBoxInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-inverted-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonCheckBoxInverted:pressed {
background-image: meegotouch-button-checkbox-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonCheckBoxInverted:selected {
background-image: meegotouch-button-checkbox-inverted-background-selected 0px 0px 0px 0px;
}
#CommonLeftCheckBoxInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-inverted-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonLeftCheckBoxInverted:pressed {
background-image:meegotouch-button-checkbox-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonLeftCheckBoxInverted:selected {
background-image:meegotouch-button-checkbox-inverted-background-selected 0px 0px 0px 0px;
}
#CommonRightCheckBoxInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-checkbox-inverted-background 0px 0px 0px 0px;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonRightCheckBoxInverted:pressed {
background-image:meegotouch-button-checkbox-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonRightCheckBoxInverted:selected {
background-image:meegotouch-button-checkbox-inverted-background-selected 0px 0px 0px 0px;
}

/* Radio Button */

#CommonRadioButton {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonRadioButton:pressed {
background-image:meegotouch-button-radiobutton-background-pressed 0px 0px 0px 0px;
}
#CommonRadioButton:selected {
background-image:meegotouch-button-radiobutton-background-selected 0px 0px 0px 0px;
}
#CommonLeftRadioButton {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonLeftRadioButton:pressed {
background-image:meegotouch-button-radiobutton-background-pressed 0px 0px 0px 0px;
}
#CommonLeftRadioButton:selected {
background-image:meegotouch-button-radiobutton-background-selected 0px 0px 0px 0px;
}
#CommonRightRadioButton {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-background 0px 0px 0px 0px;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonRightRadioButton:pressed {
background-image:meegotouch-button-radiobutton-background-pressed 0px 0px 0px 0px;
}
#CommonRightRadioButton:selected {
background-image:meegotouch-button-radiobutton-background-selected 0px 0px 0px 0px;
}

#CommonRadioButtonInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-inverted-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonRadioButtonInverted:pressed {
background-image:meegotouch-button-radiobutton-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonRadioButtonInverted:selected {
background-image:meegotouch-button-radiobutton-inverted-background-selected 0px 0px 0px 0px;
}

#CommonLeftRadioButtonInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-inverted-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonLeftRadioButtonInverted:pressed {
background-image:meegotouch-button-radiobutton-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonLeftRadioButtonInverted:selected {
background-image:meegotouch-button-radiobutton-inverted-background-selected 0px 0px 0px 0px;
}

#CommonRightRadioButtonInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-inverted-background 0px 0px 0px 0px;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonLeftRadioButtonInverted:pressed {
background-image:meegotouch-button-radiobutton-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonLeftRadioButtonInverted:selected {
background-image:meegotouch-button-radiobutton-inverted-background-selected 0px 0px 0px 0px;
}

/* Slider */

#CommonSlider {
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1;
}

#CommonSliderInverted {
handle-pixmap:                      "meegotouch-slider-handle-inverted-background-horizontal" 0mm 0mm;
handle-pressed-pixmap:              "meegotouch-slider-handle-inverted-background-pressed-horizontal" 0mm 0mm;
handle-vertical-pixmap:             "meegotouch-slider-handle-inverted-background-vertical" 0mm 0mm;
handle-vertical-pressed-pixmap:     "meegotouch-slider-handle-inverted-background-pressed-vertical" 0mm 0mm;
handle-label-arrow-left-pixmap:     "meegotouch-slider-handle-label-arrow-left-inverted" 0mm 0mm;
handle-label-arrow-right-pixmap:    "meegotouch-slider-handle-label-arrow-right-inverted" 0mm 0mm;
handle-label-arrow-up-pixmap:       "meegotouch-slider-handle-label-arrow-up-inverted" 0mm 0mm;
handle-label-arrow-down-pixmap:     "meegotouch-slider-handle-label-arrow-down-inverted" 0mm 0mm;
background-base-image:              "meegotouch-slider-inverted-background-horizontal" 4px 4px 4px 4px;
background-elapsed-image:           "meegotouch-slider-elapsed-inverted-background-horizontal" 4px 4px 4px 4px;
background-received-image:          "meegotouch-slider-received-inverted-background-horizontal" 4px 4px 4px 4px;
background-vertical-base-image:     "meegotouch-slider-inverted-background-vertical" 4px 4px 4px 4px;
background-vertical-elapsed-image:  "meegotouch-slider-elapsed-inverted-background-vertical" 4px 4px 4px 4px;
background-vertical-received-image: "meegotouch-slider-received-inverted-background-vertical" 4px 4px 4px 4px;
indicator-style-name:               "MSliderHandleIndicatorInverted";
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1;
}

/* Seeker */

#CommonSeeker {
handle-pixmap:                  "meegotouch-seeker-handle-background-horizontal" 0mm 0mm;
handle-pressed-pixmap:          "meegotouch-seeker-handle-background-horizontal" 0mm 0mm;
handle-vertical-pixmap:         "meegotouch-seeker-handle-background-vertical" 0mm 0mm;
handle-vertical-pressed-pixmap: "meegotouch-seeker-handle-background-vertical" 0mm 0mm;
margin-top:                     $MARGIN_DOUBLE;
margin-bottom:                  $MARGIN_DOUBLE;
margin-left:                    $INDENT_DEFAULT;
margin-right:                   $INDENT_DEFAULT;
minimum-size:                   32.2mm -1;
preferred-size:                 44.8mm -1;
maximum-size:                   44.8mm -1;
}

#CommonSeekerInverted {
handle-pixmap:                      "meegotouch-seeker-handle-inverted-background-horizontal" 0mm 0mm;
handle-pressed-pixmap:              "meegotouch-seeker-handle-inverted-background-horizontal" 0mm 0mm;
handle-vertical-pixmap:             "meegotouch-seeker-handle-inverted-background-vertical" 0mm 0mm;
handle-vertical-pressed-pixmap:     "meegotouch-seeker-handle-inverted-background-vertical" 0mm 0mm;
handle-label-arrow-left-pixmap:     "meegotouch-slider-handle-label-arrow-left-inverted" 0mm 0mm;
handle-label-arrow-right-pixmap:    "meegotouch-slider-handle-label-arrow-right-inverted" 0mm 0mm;
handle-label-arrow-up-pixmap:       "meegotouch-slider-handle-label-arrow-up-inverted" 0mm 0mm;
handle-label-arrow-down-pixmap:     "meegotouch-slider-handle-label-arrow-down-inverted" 0mm 0mm;
background-base-image:              "meegotouch-slider-inverted-background-horizontal" 4px 4px 4px 4px;
background-elapsed-image:           "meegotouch-slider-elapsed-inverted-background-horizontal" 4px 4px 4px 4px;
background-received-image:          "meegotouch-slider-received-inverted-background-horizontal" 4px 4px 4px 4px;
background-vertical-base-image:     "meegotouch-slider-inverted-background-vertical" 4px 4px 4px 4px;
background-vertical-elapsed-image:  "meegotouch-slider-elapsed-inverted-background-vertical" 4px 4px 4px 4px;
background-vertical-received-image: "meegotouch-slider-received-inverted-background-vertical" 4px 4px 4px 4px;
indicator-style-name:               "MSliderHandleIndicatorInverted";
margin-top:                         $MARGIN_DOUBLE;
margin-bottom:                      $MARGIN_DOUBLE;
margin-left:                        $INDENT_DEFAULT;
margin-right:                       $INDENT_DEFAULT;
minimum-size:                       32.2mm -1;
preferred-size:                     44.8mm -1;
maximum-size:                       44.8mm -1;
}

/* Spinner */

#CommonViewHeaderSpinner {
base-image-size: $SIZE_SPINNER_SMALL;
margin-top:      $MARGIN_LARGE;
margin-bottom:   $MARGIN_LARGE;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
minimum-size:    2.4mm 2.4mm;
preferred-size:  2.4mm 2.4mm;
maximum-size:    2.4mm 2.4mm;
}
#CommonListItemSpinner {
base-image-size: $SIZE_SPINNER_DEFAULT;
margin-top:      0;
margin-bottom:   0;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
minimum-size:    3.2mm 3.2mm;
preferred-size:  3.2mm 3.2mm;
maximum-size:    3.2mm 3.2mm;
}
#CommonLargeSpinner {
base-image-size: $SIZE_SPINNER_LARGE;
margin-top:      0;
margin-bottom:   0;
margin-left:     0;
margin-right:    0;
minimum-size:    9.6mm 9.6mm;
preferred-size:  9.6mm 9.6mm;
maximum-size:    9.6mm 9.6mm;
}

#CommonViewHeaderSpinnerInverted {
base-image-name: "spinnerinverted";
base-image-size: $SIZE_SPINNER_SMALL;
margin-top:      $MARGIN_LARGE;
margin-bottom:   $MARGIN_LARGE;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
minimum-size:    2.4mm 2.4mm;
preferred-size:  2.4mm 2.4mm;
maximum-size:    2.4mm 2.4mm;
}
#CommonListItemSpinnerInverted {
base-image-name: "spinnerinverted";
base-image-size: $SIZE_SPINNER_DEFAULT;
margin-top:      0;
margin-bottom:   0;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
minimum-size:    3.2mm 3.2mm;
preferred-size:  3.2mm 3.2mm;
maximum-size:    3.2mm 3.2mm;
}
#CommonLargeSpinnerInverted {
base-image-name: "spinnerinverted";
base-image-size: $SIZE_SPINNER_LARGE;
margin-top:      0;
margin-bottom:   0;
margin-left:     0;
margin-right:    0;
minimum-size:    9.6mm 9.6mm;
preferred-size:  9.6mm 9.6mm;
maximum-size:    9.6mm 9.6mm;
}

/* Progress bar */

#CommonProgressBar {
margin-top:      $MARGIN_LARGE;
margin-bottom:   $MARGIN_LARGE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
/* This is causing problems at MAdvanceListItem Fix me
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1; */
}
#CommonProgressBarInverted {
margin-top:      $MARGIN_LARGE;
margin-bottom:   $MARGIN_LARGE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
/* This is causing problems at MAdvanceListItem Fix me
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1; */
}

/* Input Fields */

#CommonSingleInputField {
background-image:$C_INPUT_BG;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonSingleInputField:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonTopInputField {
background-image:$C_INPUT_BG;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonTopInputField:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonTopInputField.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonTopInputField.Landscape {
margin-left:     $INDENT_DEFAULT;
margin-right:    $MARGIN_LARGE;
}

#CommonBottomInputField {
background-image:$C_INPUT_BG;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonBottomInputField:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonBottomInputField.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonBottomInputField.Landscape {
margin-left:     $MARGIN_LARGE;
margin-right:    $INDENT_DEFAULT;
}

#CommonSingleInputFieldLabeled {
background-image:$C_INPUT_BG;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonSingleInputFieldLabeled:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonTopInputFieldLabeled {
background-image:$C_INPUT_BG;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonTopInputFieldLabeled.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonTopInputFieldLabeled.Landscape {
margin-left:     $INDENT_DEFAULT;
margin-right:    $MARGIN_LARGE;
}

#CommonBottomInputFieldLabeled {
background-image:$C_INPUT_BG;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonBottomInputFieldLabeled:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonBottomInputFieldLabeled.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonBottomInputFieldLabeled.Landscape {
margin-left:     $MARGIN_LARGE;
margin-right:    $INDENT_DEFAULT;
}

#CommonToolbarInputField {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}

/* Inverted Input Fields */

#CommonSingleInputFieldInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonSingleInputFieldInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonTopInputFieldInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonTopInputFieldInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonTopInputFieldInverted.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonTopInputFieldInverted.Landscape {
margin-left:     $INDENT_DEFAULT;
margin-right:    $MARGIN_LARGE;
}

#CommonBottomInputFieldInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonBottomInputFieldInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonBottomInputFieldInverted.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonBottomInputFieldInverted.Landscape {
margin-left:     $MARGIN_LARGE;
margin-right:    $INDENT_DEFAULT;
}

#CommonSingleInputFieldLabeledInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonSingleInputFieldLabeledInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonTopInputFieldLabeledInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonTopInputFieldLabeledInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonTopInputFieldLabeledInverted.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonTopInputFieldLabeledInverted.Landscape {
margin-left:     $INDENT_DEFAULT;
margin-right:    $MARGIN_LARGE;
}

#CommonBottomInputFieldLabeledInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonBottomInputFieldLabeledInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonBottomInputFieldLabeledInverted.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonBottomInputFieldLabeledInverted.Landscape {
margin-left:     $MARGIN_LARGE;
margin-right:    $INDENT_DEFAULT;
}

#CommonComboBoxInverted {
indicator-image: "icon-m-textinput-combobox-arrow";
title-object-name: "CommonTitleInverted";
sub-title-object-name: "CommonSubTitleInverted";
progress-indicator-object-name: "CommonProgressBarInverted";
}
MComboBox#CommonComboBoxInverted MListItemStyle {
background-tiles: ;
background-image: meegotouch-panel-inverted-background $CORNER_MARGINS;
}
MComboBox#CommonComboBoxInverted MListItemStyle:pressed {
background-tiles: ;
background-image: meegotouch-panel-inverted-background-pressed $CORNER_MARGINS;
}

#CommonComboBoxButtonNoTitle {
background-tiles: ;
background-image: meegotouch-panel-background $CORNER_MARGINS;
title-object-name: "ComboBoxEmptyTitle";
separate-title: false;
margin-left: $INDENT_DEFAULT;
margin-right: $INDENT_DEFAULT;
margin-top: 0.6mm;
margin-bottom: 0.6mm;
minimum-size: 32.2mm 5.1mm;
preferred-size: 32.2mm 5.1mm;
maximum-size: 32.2mm 5.1mm;
}
#CommonComboBoxButtonNoTitleInverted {
background-tiles: ;
background-image: meegotouch-panel-inverted-background $CORNER_MARGINS;
title-object-name: "ComboBoxEmptyTitle";
sub-title-object-name: "CommonButtonLabelInverted";
indicator-image: "icon-m-textinput-combobox-arrow";
separate-title: false;
margin-left: $INDENT_DEFAULT;
margin-right: $INDENT_DEFAULT;
margin-top: 0.6mm;
margin-bottom: 0.6mm;
minimum-size: 32.2mm 5.1mm;
preferred-size: 32.2mm 5.1mm;
maximum-size: 32.2mm 5.1mm;
}
MComboBox#CommonComboBoxButtonNoTitleInverted MListItemStyle[labelButton] {
/* this is the button-looking combobox */
background-tiles: ;
background-image: meegotouch-button-inverted-background $CORNER_MARGINS;
}
MComboBox#CommonComboBoxButtonNoTitleInverted MListItemStyle[labelButton]:pressed {
background-tiles: ;
background-image: meegotouch-button-inverted-background-pressed $CORNER_MARGINS;
}

MComboBox MLabelStyle#CommonButtonLabel {
margin-top: 0;
margin-bottom: 0;
margin-left: $INDENT_DEFAULT;
margin-right: $INDENT_DEFAULT;
}
MComboBox MLabelStyle#CommonButtonLabelInverted {
margin-top: 0;
margin-bottom: 0;
margin-left: $INDENT_DEFAULT;
margin-right: $INDENT_DEFAULT;
}

#ComboBoxEmptyTitle {
margin-left: $MARGIN_DEFAULT;
margin-right: $MARGIN_DEFAULT;
margin-top: $MARGIN_DEFAULT;
margin-bottom: $MARGIN_DEFAULT;
minimum-size: -1 0.1mm;
}

/* Special items */

/* The overlay style is temporarily copied from the inverted style and will be updated with the correct asset id's as soon as possible */

#CommonOverlayComboBox {
background-tiles: ;
background-image: meegotouch-panel-inverted-background $CORNER_MARGINS;
title-object-name: "ComboBoxEmptyTitle";
sub-title-object-name: "CommonButtonLabelInverted";
indicator-image: "icon-m-textinput-combobox-arrow";
separate-title: false;
margin-left: $INDENT_DEFAULT;
margin-right: $INDENT_DEFAULT;
margin-top: 0.6mm;
margin-bottom: 0.6mm;
minimum-size: 32.2mm 5.1mm;
preferred-size: 32.2mm 5.1mm;
maximum-size: 32.2mm 5.1mm;
}
MComboBox#CommonOverlayComboBox MListItemStyle[labelButton] {
/* this is the button-looking combobox */
background-tiles: ;
background-image: meegotouch-button-inverted-background $CORNER_MARGINS;
}
MComboBox#CommonOverlayComboBox MListItemStyle[labelButton]:pressed {
background-tiles: ;
background-image: meegotouch-button-inverted-background-pressed $CORNER_MARGINS;
}


#CommonCountBubble {
margin-right:    $INDENT_DEFAULT;
}
#CommonCountBubbleTop {
margin-top:      $MARGIN_XLARGE;
margin-right:    $INDENT_DEFAULT;
}
