/* ApplicationPage */

#CommonApplicationPageInverted {
background-image: meegotouch-applicationpage-background-inverted 0px 0px 0px 0px;
}
#CommonApplicationPageInverted.portrait {
background-image: meegotouch-applicationpage-portrait-background-inverted 0px 0px 0px 0px;
}

/* Divider */

#CommonItemDivider {
background-image: meegotouch-separator-background-horizontal 0px 0px 0px 0px;
minimum-size:  -1 0.1mm;
maximum-size:  -1 0.1mm;
margin-top:     0;
margin-bottom:  0;
margin-left:    $MARGIN_LARGE;
margin-right:   $MARGIN_LARGE;
}

#CommonHeaderDivider {
background-image: meegotouch-groupseparator-background-horizontal 4px 4px 0px 0px;
span:           0.9mm;
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonGroupHeaderDivider {
background-image: meegotouch-groupseparator-header-background-horizontal 4px 4px 0px 0px;
span:           0.9mm;
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonHorizontalSeparator {
background-image: meegotouch-separator-background-horizontal 0px 0px 0px 0px;
minimum-size:  -1 0.1mm;
maximum-size:  -1 0.1mm;
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonVerticalSeparator {
background-image: meegotouch-separator-background-vertical 0px 0px 0px 0px;
minimum-size:   0.1mm -1;
maximum-size:   0.1mm -1;
margin-right:   0;
margin-left:    0;
margin-bottom:  0;
margin-top:     0;
}


#CommonItemDividerInverted {
background-image: meegotouch-separator-inverted-background-horizontal 0px 0px 0px 0px;
minimum-size:  -1 0.1mm;
maximum-size:  -1 0.1mm;
margin-top:     0;
margin-bottom:  0;
margin-left:    $MARGIN_LARGE;
margin-right:   $MARGIN_LARGE;
}

#CommonHeaderDividerInverted {
background-image: meegotouch-groupseparator-inverted-background-horizontal 4px 4px 0px 0px;
span:           0.9mm;
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonGroupHeaderDividerInverted {
background-image: meegotouch-groupseparator-header-inverted-background-horizontal 4px 4px 0px 0px;
span:           0.9mm;
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonHorizontalSeparatorInverted {
background-image: meegotouch-separator-inverted-background-horizontal 0px 0px 0px 0px;
minimum-size:  -1 0.1mm;
maximum-size:  -1 0.1mm;
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonVerticalSeparatorInverted {
background-image: meegotouch-separator-inverted-background-vertical 0px 0px 0px 0px;
minimum-size:   0.1mm -1;
maximum-size:   0.1mm -1;
margin-right:   0;
margin-left:    0;
margin-bottom:  0;
margin-top:     0;
}

/* Spacer */

#CommonSpacer {
minimum-size:   0 0;
preferred-size: 100% 0;
maximum-size:   100% 0;
margin-top:     $MARGIN_LARGE;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonSmallSpacer {
minimum-size:   0 0;
preferred-size: 100% 0;
maximum-size:   100% 0;
margin-top:     $MARGIN_SMALL;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonLargeSpacer {
minimum-size:   0 0;
preferred-size: 100% 0;
maximum-size:   100% 0;
margin-top:     $MARGIN_XLARGE;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonXLargeSpacer {
minimum-size:   0 0;
preferred-size: 100% 0;
maximum-size:   100% 0;
margin-top:     $MARGIN_XXLARGE;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

/* Groups */

#CommonTitleIconGroup {
margin-left:    $INDENT_DEFAULT;
}

#CommonSubIconGroup {
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   $INDENT_DEFAULT;
}

#CommonButtonGroup {
margin-top:     $MARGIN_DOUBLE;
margin-bottom:  $MARGIN_DOUBLE;
margin-left:    $INDENT_DEFAULT;
margin-right:   $INDENT_DEFAULT;
}

#CommonInputFieldGroup {
margin-top:     $MARGIN_DOUBLE;
margin-bottom:  $MARGIN_DOUBLE;
margin-left:    $INDENT_DEFAULT;
margin-right:   $INDENT_DEFAULT;
}

/* Items for regulating even columns in full width views and dialogs */

#CommonLeftDialogItem {
minimum-size:   10mm -1;
preferred-size: 50mm 8.8mm;
maximum-size:   50mm -1;
}

#CommonRightDialogItem {
minimum-size:   10mm -1;
preferred-size: 50mm 8.8mm;
maximum-size:   50mm -1;
}

#CommonLeftColumn {
minimum-size:   50% $SIZE_ONE;
preferred-size: 100% $SIZE_ONE;
maximum-size:   100% $SIZE_ONE;
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonLeftColumn.Portrait {
minimum-size:   -1 -1;
preferred-size: 100% $SIZE_ONE;
maximum-size:   -1 -1;
}

#CommonRightColumn {
minimum-size:   50% $SIZE_ONE;
preferred-size: 50% $SIZE_ONE;
maximum-size:   -1 -1;
margin-top:     0;
margin-bottom:  0;
margin-left:    0;
margin-right:   0;
}

#CommonRightColumn.Portrait {
minimum-size:   -1 -1;
preferred-size: 100% $SIZE_ONE;
maximum-size:   -1 -1;
}




