@const C_INPUT_BG:          meegotouch-textedit-background $CORNER_MARGINS;
@const C_INPUT_BG_SELECTED: meegotouch-textedit-background-selected $CORNER_MARGINS;
@const C_INPUT_BG_INVERTED: meegotouch-textedit-background $CORNER_MARGINS;
@const C_INPUT_BG_SELECTED_INVERTED: meegotouch-textedit-background-selected $CORNER_MARGINS;
@const CHECKBOX_SIZE:       4.2mm 4.2mm;

/* switch */

#CommonSwitch {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonLeftSwitch {
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonRightSwitch {
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonSwitchInverted {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonLeftSwitchInverted {
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonRightSwitchInverted {
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}

/* Checkbox */

#CommonCheckbox {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-background 0px 0px 0px 0px;
margin-left:     1.5mm;
margin-right:    1.5mm;
}
#CommonCheckbox:pressed {
background-image: meegotouch-button-checkbox-background-pressed 0px 0px 0px 0px;
}
#CommonCheckbox:selected {
background-image: meegotouch-button-checkbox-background-selected 0px 0px 0px 0px;
}
#CommonLeftCheckbox {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonLeftCheckbox:pressed {
background-image: meegotouch-button-checkbox-background-pressed 0px 0px 0px 0px;
}
#CommonLeftCheckbox:selected {
background-image: meegotouch-button-checkbox-background-selected 0px 0px 0px 0px;
}
#CommonRightCheckbox {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-background 0px 0px 0px 0px;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonRightCheckbox:pressed {
background-image: meegotouch-button-checkbox-background-pressed 0px 0px 0px 0px;
}
#CommonRightCheckbox:selected {
background-image: meegotouch-button-checkbox-background-selected 0px 0px 0px 0px;
}

#CommonCheckboxInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-inverted-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonCheckboxInverted:pressed {
background-image: meegotouch-button-checkbox-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonCheckboxInverted:selected {
background-image: meegotouch-button-checkbox-inverted-background-selected 0px 0px 0px 0px;
}
#CommonLeftCheckboxInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image: meegotouch-button-checkbox-inverted-background  0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonLeftCheckboxInverted:pressed {
background-image:meegotouch-button-checkbox-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonLeftCheckboxInverted:selected {
background-image:meegotouch-button-checkbox-inverted-background-selected 0px 0px 0px 0px;
}
#CommonRightCheckboxInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-checkbox-inverted-background 0px 0px 0px 0px;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonRightCheckboxInverted:pressed {
background-image:meegotouch-button-checkbox-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonRightCheckboxInverted:selected {
background-image:meegotouch-button-checkbox-inverted-background-selected 0px 0px 0px 0px;
}

/* Radio Button */

#CommonRadioButton {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonRadioButton:pressed {
background-image:meegotouch-button-radiobutton-background-pressed 0px 0px 0px 0px;
}
#CommonRadioButton:selected {
background-image:meegotouch-button-radiobutton-background-selected 0px 0px 0px 0px;
}
#CommonLeftRadioButton {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonLeftRadioButton:pressed {
background-image:meegotouch-button-radiobutton-background-pressed 0px 0px 0px 0px;
}
#CommonLeftRadioButton:selected {
background-image:meegotouch-button-radiobutton-background-selected 0px 0px 0px 0px;
}
#CommonRightRadioButton {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-background 0px 0px 0px 0px;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonRightRadioButton:pressed {
background-image:meegotouch-button-radiobutton-background-pressed 0px 0px 0px 0px;
}
#CommonRightRadioButton:selected {
background-image:meegotouch-button-radiobutton-background-selected 0px 0px 0px 0px;
}

#CommonRadioButtonInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-inverted-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonRadioButtonInverted:pressed {
background-image:meegotouch-button-radiobutton-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonRadioButtonInverted:selected {
background-image:meegotouch-button-radiobutton-inverted-background-selected 0px 0px 0px 0px;
}

#CommonLeftRadioButtonInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-inverted-background 0px 0px 0px 0px;
margin-left:     $INDENT_DEFAULT;
margin-right:    0;
}
#CommonLeftRadioButtonInverted:pressed {
background-image:meegotouch-button-radiobutton-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonLeftRadioButtonInverted:selected {
background-image:meegotouch-button-radiobutton-inverted-background-selected 0px 0px 0px 0px;
}

#CommonRightRadioButtonInverted {
minimum-size:    $CHECKBOX_SIZE;
preferred-size:  $CHECKBOX_SIZE;
maximum-size:    $CHECKBOX_SIZE;
background-image:meegotouch-button-radiobutton-inverted-background 0px 0px 0px 0px;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
}
#CommonLeftRadioButtonInverted:pressed {
background-image:meegotouch-button-radiobutton-inverted-background-pressed 0px 0px 0px 0px;
}
#CommonLeftRadioButtonInverted:selected {
background-image:meegotouch-button-radiobutton-inverted-background-selected 0px 0px 0px 0px;
}

/* Slider */

#CommonSlider {
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1;
}

#CommonSliderInverted {
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1;
}

/* Seeker */

#CommonSeeker {
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1;
}

#CommonSeekerInverted {
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1;
}

/* Spinner */

#CommonViewHeaderSpinner {
margin-top:      $MARGIN_LARGE;
margin-bottom:   $MARGIN_LARGE;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
minimum-size:    2.4mm 2.4mm;
preferred-size:  2.4mm 2.4mm;
maximum-size:    2.4mm 2.4mm;
}
#CommonListItemSpinner {
margin-top:      0;
margin-bottom:   0;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
minimum-size:    3.2mm 3.2mm;
preferred-size:  3.2mm 3.2mm;
maximum-size:    3.2mm 3.2mm;
}
#CommonLargeSpinner {
margin-top:      0;
margin-bottom:   0;
margin-left:     0;
margin-right:    0;
minimum-size:    9.6mm 9.6mm;
preferred-size:  9.6mm 9.6mm;
maximum-size:    9.6mm 9.6mm;
}

#CommonViewHeaderSpinnerInverted {
/* bg-pixmap: "meegotouch-progressindicator-spinner-background-inverted" 2.4mm 2.4mm;
progress-pixmap: "meegotouch-progressindicator-spinner-progress-inverted" 2.4mm 2.4mm; */
margin-top:      $MARGIN_LARGE;
margin-bottom:   $MARGIN_LARGE;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
minimum-size:    2.4mm 2.4mm;
preferred-size:  2.4mm 2.4mm;
maximum-size:    2.4mm 2.4mm;
}
#CommonListItemSpinnerInverted {
margin-top:      0;
margin-bottom:   0;
margin-left:     0;
margin-right:    $INDENT_DEFAULT;
minimum-size:    3.2mm 3.2mm;
preferred-size:  3.2mm 3.2mm;
maximum-size:    3.2mm 3.2mm;
}
#CommonLargeSpinnerInverted {
margin-top:      0;
margin-bottom:   0;
margin-left:     0;
margin-right:    0;
minimum-size:    9.6mm 9.6mm;
preferred-size:  9.6mm 9.6mm;
maximum-size:    9.6mm 9.6mm;
}

/* Progress bar */

#CommonProgressBar {
margin-top:      $MARGIN_LARGE;
margin-bottom:   $MARGIN_LARGE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
/* This is causing problems at MAdvanceListItem Fix me
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1; */
}
#CommonProgressBarInverted {
margin-top:      $MARGIN_LARGE;
margin-bottom:   $MARGIN_LARGE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
/* This is causing problems at MAdvanceListItem Fix me
minimum-size:    32.2mm -1;
preferred-size:  44.8mm -1;
maximum-size:    44.8mm -1; */
}

/* Input Fields */

#CommonSingleInputField {
background-image:$C_INPUT_BG;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonSingleInputField:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonTopInputField {
background-image:$C_INPUT_BG;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonTopInputField:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonTopInputField.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonTopInputField.Landscape {
margin-left:     $INDENT_DEFAULT;
margin-right:    $MARGIN_LARGE;
}

#CommonBottomInputField {
background-image:$C_INPUT_BG;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonBottomInputField:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonBottomInputField.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonBottomInputField.Landscape {
margin-left:     $MARGIN_LARGE;
margin-right:    $INDENT_DEFAULT;
}

#CommonSingleInputFieldLabeled {
background-image:$C_INPUT_BG;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonSingleInputFieldLabeled:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonTopInputFieldLabeled {
background-image:$C_INPUT_BG;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonTopInputFieldLabeled.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonTopInputFieldLabeled.Landscape {
margin-left:     $INDENT_DEFAULT;
margin-right:    $MARGIN_LARGE;
}

#CommonBottomInputFieldLabeled {
background-image:$C_INPUT_BG;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonBottomInputFieldLabeled:selected {
background-image: $C_INPUT_BG_SELECTED;
}
#CommonBottomInputFieldLabeled.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonBottomInputFieldLabeled.Landscape {
margin-left:     $MARGIN_LARGE;
margin-right:    $INDENT_DEFAULT;
}

#CommonToolbarInputField {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}

/* Inverted Input Fields */

#CommonSingleInputFieldInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonSingleInputFieldInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonTopInputFieldInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonTopInputFieldInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonTopInputFieldInverted.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonTopInputFieldInverted.Landscape {
margin-left:     $INDENT_DEFAULT;
margin-right:    $MARGIN_LARGE;
}

#CommonBottomInputFieldInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      $MARGIN_DOUBLE;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonBottomInputFieldInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonBottomInputFieldInverted.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonBottomInputFieldInverted.Landscape {
margin-left:     $MARGIN_LARGE;
margin-right:    $INDENT_DEFAULT;
}

#CommonSingleInputFieldLabeledInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonSingleInputFieldLabeledInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonTopInputFieldLabeledInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonTopInputFieldLabeledInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonTopInputFieldLabeledInverted.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonTopInputFieldLabeledInverted.Landscape {
margin-left:     $INDENT_DEFAULT;
margin-right:    $MARGIN_LARGE;
}

#CommonBottomInputFieldLabeledInverted {
background-image:$C_INPUT_BG_INVERTED;
margin-top:      0;
margin-bottom:   $MARGIN_DOUBLE;
}
#CommonBottomInputFieldLabeledInverted:selected {
background-image: $C_INPUT_BG_SELECTED_INVERTED;
}
#CommonBottomInputFieldLabeledInverted.Portrait {
margin-left:     $INDENT_DEFAULT;
margin-right:    $INDENT_DEFAULT;
}
#CommonBottomInputFieldLabeledInverted.Landscape {
margin-left:     $MARGIN_LARGE;
margin-right:    $INDENT_DEFAULT;
}

/* Special items */

#CommonOverlayComboBox {
/* TBD */
}

#CommonCountBubble {
margin-right:    $INDENT_DEFAULT;
}
#CommonCountBubbleTop {
margin-top:      $MARGIN_XLARGE;
margin-right:    $INDENT_DEFAULT;
}
