
DuiButtonSwitchStyle {
    background-image: "duibutton-switch-background" 0 0 0 0;
    // thumb is the sliding part, should slide accross the whole area
    thumb-image: "duibutton-switch-thumb" 0 0 0 0;
    // slider is behind thumb, but above background
    slider-image: "duibutton-switch-colorstripe" 1 1 1 1;
    // slider-mask defines the shape of the slider-image
    slider-mask: "duibutton-switch-mask" 0 0 0 0;

    minimum-size: 7.2mm 4.4mm;
    maximum-size: 7.2mm 4.4mm;
    preferred-size: 7.2mm 4.4mm;
}

DuiButtonSwitchStyle:pressed {
    background-image: "duibutton-switch-background" 0 0 0 0;
    // thumb is the sliding part, should slide accross the whole area
    thumb-image: "duibutton-switch-thumb" 0 0 0 0;
    // slider is behind thumb, but above background
    slider-image: "duibutton-switch-colorstripe" 1 1 1 1;
    // slider-mask defines the shape of the slider-image
    slider-mask: "duibutton-switch-mask" 0 0 0 0;

    minimum-size: 7.2mm 4.4mm;
    maximum-size: 7.2mm 4.4mm;
    preferred-size: 7.2mm 4.4mm;
}

DuiButtonSwitchStyle:selected {
    background-image: "duibutton-switch-background" 0 0 0 0;
    // thumb is the sliding part, should slide accross the whole area
    thumb-image: "duibutton-switch-thumb" 0 0 0 0;
    // slider is behind thumb, but above background
    slider-image: "duibutton-switch-colorstripe" 1 1 1 1;
    // slider-mask defines the shape of the slider-image
    slider-mask: "duibutton-switch-mask" 0 0 0 0;

    minimum-size: 7.2mm 4.4mm;
    maximum-size: 7.2mm 4.4mm;
    preferred-size: 7.2mm 4.4mm;
}
