@const ITEM_MODE_DEFAULT: 0;
@const ITEM_MODE_TOP_LEFT: 1;
@const ITEM_MODE_TOP: 2;
@const ITEM_MODE_TOP_RIGHT: 3;
@const ITEM_MODE_LEFT: 4;
@const ITEM_MODE_CENTER: 5;
@const ITEM_MODE_RIGHT: 6;
@const ITEM_MODE_SINGLE: 7;
@const ITEM_MODE_BOTTOM_LEFT: 8;
@const ITEM_MODE_BOTTOM; 9;
@const ITEM_MODE_BOTTOM_RIGHT: 10;
@const ITEM_MODE_SINGLE_ROW_LEFT: 11;
@const ITEM_MODE_SINGLE_ROW_CENTER: 12;
@const ITEM_MODE_SINGLE_ROW_RIGHT: 13;
@const ITEM_MODE_SINGLE_COLUMN_TOP: 14;
@const ITEM_MODE_SINGLE_COLUMN_CENTER: 15;
@const ITEM_MODE_SINGLE_COLUMN_BOTTOM: 16;

/* DuiComboBoxStyle : DuiWidgetStyle */
DuiComboBoxStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;

    item-mode: $ITEM_MODE_DEFAULT;
    content-item-object-name: ;
}

DuiComboBox DuiContentItemStyle {
    background-image : "duibutton-background" 10px 10px 10px 10px;
    background-color: $COLOR_BACKGROUND;
    background-opacity: 1.0;

    /* inherited from DuiWidgetStyle */
    margin-left: $MARGIN_DEFAULT;
    margin-right: $MARGIN_DEFAULT;
    margin-top: $MARGIN_DEFAULT;
    margin-bottom: $MARGIN_DEFAULT;

    padding-left:   $PADDING_DEFAULT;
    padding-top:    $PADDING_DEFAULT;
    padding-right:  $PADDING_DEFAULT;
    padding-bottom: $PADDING_DEFAULT;

    preferred-size: -1 $SIZE_BUTTON;
    minimum-size: $SIZE_BUTTON $SIZE_BUTTON;
    maximum-size: 100% $SIZE_BUTTON;

    image-object-name: "DuiComboBoxIcon";
    title-object-name: "DuiComboBoxTitle";
    subtitle-object-name: "DuiComboBoxSubtitle";
}

DuiComboBox DuiContentItemStyle:pressed {
    background-image : "duibutton-background-pressed" 10px 10px 10px 10px;
    background-color: $COLOR_SELECT;
    background-opacity: 1.0;
}

#DuiComboBoxIcon {
    /* inherited from DuiWidgetStyle */
    preferred-size: $SIZE_ICON $SIZE_ICON;
    minimum-size: $SIZE_ICON $SIZE_ICON;
    maximum-size: $SIZE_ICON $SIZE_ICON;

    margin-left:   $MARGIN_MEDIUM;
    margin-right:  $MARGIN_MEDIUM;
    margin-top:    $MARGIN_MEDIUM;
    margin-bottom: $MARGIN_MEDIUM;
}

#DuiComboBoxTitle {
    font: $FONT_DEFAULT;

    /* inherited from DuiWidgetStyle */
    margin-left:   $MARGIN_MEDIUM;
    margin-right:  $MARGIN_MEDIUM;
    margin-top:    $MARGIN_XSMALL;
    margin-bottom: $MARGIN_XSMALL;
}

#DuiComboBoxSubtitle {
    font: $FONT_SMALL;
    color: $COLOR_SECONDARY_FOREGROUND;

    /* inherited from DuiWidgetStyle */
    margin-left:   $MARGIN_MEDIUM;
    margin-right:  $MARGIN_DEFAULT;
    margin-top:    $MARGIN_XSMALL;
    margin-bottom: $MARGIN_XSMALL;
}

DuiComboBoxStyle[topleft]
{
    item-mode: $ITEM_MODE_TOP_LEFT;
}

DuiComboBoxStyle[top]
{
    item-mode: $ITEM_MODE_TOP;
}

DuiComboBoxStyle[topright]
{
    item-mode: $ITEM_MODE_TOP_RIGHT;
}

DuiComboBoxStyle[left]
{
    item-mode: $ITEM_MODE_LEFT;
}

DuiComboBoxStyle[center]
{
    item-mode: $ITEM_MODE_CENTER;
}

DuiComboBoxStyle[right]
{
    item-mode: $ITEM_MODE_RIGHT;
}

DuiComboBoxStyle[single]
{
    item-mode: $ITEM_MODE_SINGLE;
}

DuiComboBoxStyle[bottomleft]
{
    item-mode: $ITEM_MODE_BOTTOM_LEFT;
}

DuiComboBoxStyle[bottomright]
{
    item-mode: $ITEM_MODE_BOTTOM_RIGHT;
}

DuiComboBoxStyle[singlerowleft]
{
    item-mode: $ITEM_MODE_SINGLE_ROW_LEFT;
}

DuiComboBoxStyle[singlerowcenter]
{
    item-mode: $ITEM_MODE_SINGLE_ROW_CENTER;
}

DuiComboBoxStyle[singlerowright]
{
    item-mode: $ITEM_MODE_SINGLE_ROW_RIGHT;
}

DuiComboBoxStyle[singlecolumntop]
{
    item-mode: $ITEM_MODE_SINGLE_COLUMN_TOP;
}

DuiComboBoxStyle[singlecolumncenter]
{
    item-mode: $ITEM_MODE_SINGLE_COLUMN_CENTER;
}

DuiComboBoxStyle[singlecolumnbottom]
{
    item-mode: $ITEM_MODE_SINGLE_COLUMN_BOTTOM;
}

