/* DuiTextEditStyle : DuiWidgetStyle */
DuiTextEditStyle {
    background-image: "duitextedit-background" 10px 10px 10px 10px;

    font: $FONT_LARGE;
    text-color: $COLOR_FOREGROUND;
    selection-text-color: $COLOR_INVERTED_FOREGROUND;
    selection-background-color: $COLOR_SELECT;
    selection-threshold: 15.0;
    zoomable: true;
    mask-string: "*";
    prompt-color: $COLOR_SECONDARY_FOREGROUND;
    paste-failed-icon: "Icon-close";
    paste-failed-duration: 3000;
    masking-delay: 1000;

    /* inherited from DuiWidgetStyle */
    /* preferred-size: size(150, 90%); */
    minimum-size: $SIZE_BUTTON $SIZE_BUTTON;
    /*    maximum-size: size(90%, 90%); */

    press-feedback: press;
    release-feedback: release;
    
    padding-top: $PADDING_MEDIUM;
    padding-bottom: $PADDING_MEDIUM;
    padding-left: $PADDING_XLARGE;
    padding-right: $PADDING_XLARGE;
}

DuiTextEditStyle:selected {
 background-image: "duitextedit-background-selected" 10px 10px 10px 10px;
}

