/* MApplicationMenuStyle : MSceneWindowStyle */
MApplicationMenuStyle {
    /* Some of this may be obsolete. */
    canvas-image: ;
    canvas-color: #000000;
    canvas-opacity: 0.0;
    canvas-margin: 0;
    divider-image: ;
    divider-color: #F9A427;
    divider-opacity: 1.0;
    divider-width: 0;
    item-height: $HEIGHT_ONE;
    gap-height: 0;
    gap-color: $COLOR_ACCENT1;
    gap-opacity: 1.0;

    /* inherited from MSceneWindowStyle */
    vertical-align: top;
    horizontal-align: left;
    margin-left: 15.5mm;
    margin-top: $HEIGHT_NAVIGATIONBAR_PORTRAIT;
    minimum-size: 54.4mm -1;
    preferred-size: 54.4mm -1;
    maximum-size: 54.4mm 35.8mm;

    /* inherited from MWidgetStyle */
    background-color: #000000;
    background-opacity: 0.0;

    top-shadow-image: none;
    left-shadow-image: none;
    bottom-shadow-image: none;
    right-shadow-image: none;

    item-style-name: "MenuItem";
    item-title-style-name: "MenuItemSingleTitle";
    position-indicator-style-name: "";
}

MApplicationMenuStyle.Portrait {
    margin-left: 1.6mm;
    minimum-size: 44.8mm -1;
    preferred-size: 44.8mm -1;
    maximum-size: 44.8mm 67.8mm;
}

#MApplicationMenuTopArea {
    background-image: none;
    maximum-size: 0 0;
}

#MApplicationMenuActionViewport {
    minimum-size: -1 -1;
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}

/* FIXME: This differs from CommonSingleTitle only by margins. */
#MenuItemSingleTitle {
    font: $FONT_FAMILY bold 26px;
    color: $COLOR_FOREGROUND;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: $MARGIN_XXLARGE;
    margin-right: $MARGIN_XXLARGE;
}
#MenuItemSingleTitle:pressed {
    color: #797979;
}
#MenuItemSingleTitle:selected {
    color: #FFFFFF;
}
#MenuItemSingleTitle:disabled {
    color: #797979;
}

/* FIXME: Can we use an existing style for this? */
MComboBoxStyle#MenuItem {
    button-style-name: "MenuComboBoxListItem";
}
MListItemStyle#MenuComboBoxListItem {
    background-tiles: meegotouch-list-background $CORNER_MARGINS;
    background-image: none;
    background-color: none;
    minimum-size: $SIZE_LIST $SIZE_LIST;
    preferred-size: -1 $SIZE_LIST;
    maximum-size: 100% $SIZE_LIST;
    padding-left: 0.8mm;
    padding-right: 0.8mm;
}
MListItemStyle#MenuComboBoxListItem:pressed {
    background-tiles: meegotouch-list-background-pressed $CORNER_MARGINS;
    background-image: none;
    background-color: none;
}

