/* BASE */

/* MApplicationPageStyle : MSceneWindowStyle */
MApplicationPageStyle {
    /* inherited from MSceneWindowStyle */
    vertical-align: top;
    horizontal-align: left;

    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;

    background-image: "meegotouch-applicationpage-background";
}

MApplicationPageStyle.Portrait {
    background-image: "meegotouch-applicationpage-portrait-background";
}
