
/* MApplicationMenuStyle : MSceneWindowStyle */
MApplicationMenuStyle {
    /* Some of this may be obsolete. */
    canvas-image: "meegotouch-navigationbar-viewmenu-background" 10px 10px 10px 10px;
    canvas-color: #000000;
    canvas-opacity: 1.0;
    canvas-margin: $MARGIN_DOUBLE;
    divider-image: ;
    divider-color: #F9A427;
    divider-opacity: 1.0;
    divider-width: 0;
    item-height: $HEIGHT_ONE;
    gap-height: 0;
    gap-color: $COLOR_ACCENT1;
    gap-opacity: 1.0;

    /* inherited from MSceneWindowStyle */
    vertical-align: top;
    horizontal-align: left;
    padding-top: $HEIGHT_NAVIGATIONBAR;
    minimum-size: -1 -1;
    preferred-size: -1 -1;
    maximum-size: -1 -1;

    /* inherited from MWidgetStyle */
    background-color: #000000;
    background-opacity: 0.8;
}

MApplicationMenu MPannableWidgetStyle {
    minimum-size: 54.4mm -1;
    preferred-size: 54.4mm -1;
    maximum-size: 54.4mm -1;
}
MApplicationMenu MPannableWidgetStyle.Portrait {
    minimum-size: 44.8mm -1;
    preferred-size: 44.8mm -1;
    maximum-size: 44.8mm -1;
}

MApplicationMenu MListItemStyle {
    minimum-size: 54.4mm 6.4mm;
    preferred-size: 54.4mm 6.4mm;
    maximum-size: 54.4mm 6.4mm;
    background-image: meegotouch-viewmenu-background-vertical-center $CORNER_MARGINS;
    background-tiles: ;
}
MApplicationMenu MListItemStyle.Portrait {
    minimum-size: 44.8mm 6.4mm;
    preferred-size: 44.8mm 6.4mm;
    maximum-size: 44.8mm 6.4mm;
}
MApplicationMenu MListItemStyle:selected {
    background-image: meegotouch-viewmenu-background-selected-vertical-center $CORNER_MARGINS;
    background-tiles: ;
}
MApplicationMenu MListItemStyle:pressed {
    background-image: meegotouch-viewmenu-background-pressed-vertical-center $CORNER_MARGINS;
    background-tiles: ;
}

/* FIXME: Comboboxes in application menus are not ideal yet. */
MApplicationMenu MComboBoxStyle {
    minimum-size: 54.4mm 6.4mm;
    preferred-size: 54.4mm 6.4mm;
    maximum-size: 54.4mm 6.4mm;
    background-image: meegotouch-viewmenu-background-vertical-center $CORNER_MARGINS;
    background-tiles: ;
}
MApplicationMenu MComboBoxStyle.Portrait {
    minimum-size: 44.8mm 6.4mm;
    preferred-size: 44.8mm 6.4mm;
    maximum-size: 44.8mm 6.4mm;
}
MApplicationMenu MComboBoxStyle:selected {
    background-image: meegotouch-viewmenu-background-selected-vertical-center $CORNER_MARGINS;
    background-tiles: ;
}
MApplicationMenu MComboBoxStyle:pressed {
    background-image: meegotouch-viewmenu-background-pressed-vertical-center $CORNER_MARGINS;
    background-tiles: ;
}



