/* MApplicationMenuStyle : MSceneWindowStyle */
MApplicationMenuStyle {
    /* Some of this may be obsolete. */
    canvas-image: ;
    canvas-color: #000000;
    canvas-opacity: 0.0;
    canvas-margin: 0;
    divider-image: ;
    divider-color: #F9A427;
    divider-opacity: 1.0;
    divider-width: 0;
    item-height: $HEIGHT_ONE;
    gap-height: 0;
    gap-color: $COLOR_ACCENT1;
    gap-opacity: 1.0;

    /* inherited from MSceneWindowStyle */
    vertical-align: top;
    horizontal-align: right;
    margin-left: 42.7mm;
    margin-top: 0;

    minimum-size: 42.7mm 80%;
    preferred-size: 42.7mm 100%;
    maximum-size: 42.7mm 100%;

    /* inherited from MWidgetStyle */
    background-color: #cbcccd;

    top-shadow-image: none;
    left-shadow-image: meegotouch-menu-shadow-left 5px 5px 15px 15px;
    bottom-shadow-image: none;
    right-shadow-image: none;

    item-style-name: "MenuItem";
    item-title-style-name: "MenuItemSingleTitle";
    position-indicator-style-name: "";
}
MApplicationMenuStyle.Portrait {
    vertical-align: bottom;
    horizontal-align: center;

    top-shadow-image: meegotouch-menu-shadow-top 15px 15px 5px 5px;

    margin-left: 0;
    minimum-size: 100% -1;
    preferred-size: 100% -1;
    maximum-size: 100% 59.5mm;
}

MApplicationMenuStyle#Inverted {
    background-image: meegotouch-menu-background-inverted 0 0 124px 2px;

    item-style-name: "MenuItemInverted";
    item-title-style-name: "MenuItemSingleTitleInverted";
    position-indicator-style-name: "CommonPositionIndicatorInverted";
}

#MApplicationMenuTopArea {
    background-image: none;
    maximum-size: 0 0;
}

#MApplicationMenuActionViewport {
    minimum-size: -1 -1;
    preferred-size: -1 -1;
    maximum-size: -1 -1;
}

MListItemStyle#MenuItem {
}

MListItemStyle#MenuItemInverted {
    background-tiles: meegotouch-list-inverted-background $CORNER_MARGINS;
}
MListItemStyle#MenuItemInverted:pressed {
    background-tiles: meegotouch-list-inverted-background-pressed $CORNER_MARGINS;
}

/* This differs from CommonSingleTitle only by margins. */
#MenuItemSingleTitle {
    font: $FONT_FAMILY bold 26px;
    color: $COLOR_FOREGROUND;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: $MARGIN_XXLARGE;
    margin-right: $MARGIN_XXLARGE;
}
#MenuItemSingleTitle:pressed {
    color: #797979;
}
#MenuItemSingleTitle:selected {
    color: #FFFFFF;
}
#MenuItemSingleTitle:disabled {
    color: #797979;
}

#MenuItemSingleTitleInverted {
    font: $FONT_FAMILY bold 26px;
    color: $COLOR_INVERTED_FOREGROUND;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: $MARGIN_XXLARGE;
    margin-right: $MARGIN_XXLARGE;
}
#MenuItemSingleTitleInverted:pressed {
    color: #797979;
}
#MenuItemSingleTitleInverted:selected {
    color: #FFFFFF;
}
#MenuItemSingleTitleInverted:disabled {
    color: #797979;
}

/* FIXME: Can we use an existing style for this? */
MComboBoxStyle#MenuItem {
    button-style-name: "MenuComboBoxListItem";
}
MComboBoxStyle#MenuItemInverted {
    button-style-name: "MenuComboBoxListItemInverted";
    title-object-name:              "CommonTitleInverted";
    sub-title-object-name:          "CommonSubTitleInverted";
    progress-indicator-object-name: "CommonProgressBarInverted";
    indicator-object-name:          "CommonComboBoxIconInverted";
}
MListItemStyle#MenuComboBoxListItem {
    background-tiles: meegotouch-list-background $CORNER_MARGINS;
    background-image: none;
    background-color: none;
    minimum-size: $SIZE_LIST $SIZE_LIST;
    preferred-size: -1 $SIZE_LIST;
    maximum-size: 100% $SIZE_LIST;
    padding-left: 0.8mm;
    padding-right: 0.8mm;
}
MListItemStyle#MenuComboBoxListItem:pressed {
    background-tiles: meegotouch-list-background-pressed $CORNER_MARGINS;
    background-image: none;
    background-color: none;
}

MListItemStyle#MenuComboBoxListItemInverted {
    background-tiles: meegotouch-list-inverted-background $CORNER_MARGINS;
    background-image: none;
    background-color: none;
    minimum-size: $SIZE_LIST $SIZE_LIST;
    preferred-size: -1 $SIZE_LIST;
    maximum-size: 100% $SIZE_LIST;
    padding-left: 0.8mm;
    padding-right: 0.8mm;
}
MListItemStyle#MenuComboBoxListItemInverted:pressed {
    background-tiles: meegotouch-list-inverted-background-pressed $CORNER_MARGINS;
    background-image: none;
    background-color: none;
}

#ApplicationMenuActionListHolder {
    margin-left: $MARGIN_XLARGE;
    margin-top: $MARGIN_XLARGE;
    margin-right: $MARGIN_XLARGE;
    margin-bottom: $MARGIN_XLARGE;
}

