/* MBannerStyle : MWidgetStyle */
MBannerStyle {
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    maximum-size: 100% 6.4mm;
    padding-left: $MARGIN_XLARGE;
    padding-right: $MARGIN_XLARGE;
    disappear-timeout: 3000;
    /* MBanner without styleName will use by default event background*/
    background-image: "meegotouch-notification-event-background" 10px 10px 10px 10px;
}

MBannerStyle.Portrait {
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    maximum-size: 100% 6.4mm;
    padding-left: $MARGIN_XLARGE;
    padding-right: $MARGIN_XLARGE;
    disappear-timeout: 3000;
}

#MBannerTitle{
    font: $FONT_DEFAULT_BOLD;
    color: $COLOR_INVERTED_FOREGROUND;
    margin-right: $MARGIN_XXLARGE;
    margin-bottom:-3;
}

#MBannerSubtitle{
    font: $FONT_XSMALL;
    color: $COLOR_INVERTED_FOREGROUND;
    margin-top:-3;
}

#MBannerSubtitleSingle{
    font: $FONT_XSMALL;
    color: $COLOR_INVERTED_FOREGROUND;
}

#MBannerIcon{
    maximum-size: 4.8mm 4.8mm;
    minimum-size: 4.8mm 4.8mm;
    preferred-size: 4.8mm 4.8mm;
    margin-right: $MARGIN_XLARGE
}

/* Use styleName to setup one of this MBanner: EventBanner, InformationBanner, SystemBanner */

MBannerStyle#EventBanner {
    background-image: "meegotouch-notification-event-background" 10px 10px 10px 10px;
}

MBannerStyle#EventBanner:pressed {
    background-image: "meegotouch-notification-event-background-pressed" 10px 10px 10px 10px;
}

MBannerStyle#InformationBanner {
    background-image: "meegotouch-notification-information-background" 10px 10px 10px 10px;
}

MBannerStyle#InformationBanner:pressed {
    background-image: "meegotouch-notification-information-background-pressed" 10px 10px 10px 10px;
}

MBannerStyle#SystemBanner {
    background-image: "meegotouch-notification-system-background" 10px 10px 10px 10px;
}

MBannerStyle#SystemBanner:pressed {
    background-image: "meegotouch-notification-system-background-pressed" 10px 10px 10px 10px;
}
