/* MBannerStyle : MWidgetStyle */
MBannerStyle {
    icon-size: 0 0;
    padding-top: 0;
    padding-bottom:0;
    padding-right: 0;
    padding-left: 0;
    /* In msec */
    disappear-timeout: 5000;
    /* Available for FullEventBanner, EventBanner, LockScreenEventBanner. */
    press-down-banner-opacity: 0.6;
    timestamp-separator: "|";
}

MBanner MLabelStyle {
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;

    reactive-margin-top: 0;
    reactive-margin-bottom: 0;
    padding-top:0;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
}

/* Short event banner */

MBannerStyle #ShortEventBanner {
    icon-size: 18px 18px;
    minimum-size: 100% 3.6mm;
    maximum-size: 100% 3.6mm;
    preferred-size: 100% 3.6mm;
    background-image: "meegotouch-shorteventbanner-background" 10px 10px 10px 10px;
    disappear-timeout: 2500;
    minimum-tap-feedback-duration: 150;
}

#ShortEventBannerIcon {
     margin-top: 0.4mm;
     margin-bottom:0;
     margin-left:0.1mm;
     margin-right:0;
}

#ShortEventBannerTitle {
    font: $FONT_XSMALL_BOLD;
    color: $COLOR_INVERTED_FOREGROUND;

    margin-top: 0;
    margin-left:0.1mm;
    margin-right: $MARGIN_LARGE;
    margin-left: $MARGIN_LARGE;
}

#ShortEventBannerSubtitle {
    font: $FONT_XSMALL_REGULAR;
    color: $COLOR_INVERTED_FOREGROUND;

    margin-top: 0;
    margin-bottom:0;
    margin-left:0.1mm;
    margin-right:0;
}

#ShortEventBannerIcon {
     margin-top: 0.4mm;
     margin-bottom:0;
     margin-left:0.1mm;
     margin-right:0;
}

/* System Banner */

MBannerStyle #SystemBanner {
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    margin-top: $HEIGHT_STATUSBAR;
    margin-bottom: 0;
    margin-left: $MARGIN_LARGE;
    margin-right: $MARGIN_LARGE;
    background-image: "meegotouch-notification-system-background" 10px 10px 10px 10px;
}

MBannerStyle #SystemBanner.Landscape {
    maximum-size: 83.4mm 8mm;
    minimum-size: 46mm 8mm;
    preferred-size: 83.4mm -1;
}

MBannerStyle #SystemBanner.Portrait {
    maximum-size: 46.4mm 10.6mm;
    minimum-size: 46.4mm 8mm;
    preferred-size: 46.4mm -1;
}

#SystemBannerTitleIcon{
    margin-top: $INDENT_DEFAULT;
    margin-bottom: $INDENT_DEFAULT;
    margin-left: $INDENT_DEFAULT;
    margin-right: 0;
}

#SystemBannerTitle {
    color:$COLOR_INVERTED_FOREGROUND;
    font: $FONT_DEFAULT;

    preferred-line-count: 3;
    preferred-line-count-behavior: "limit";

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
}

/* Information Banner */

MBannerStyle #InformationBanner {
/* InfoBanner style has not icon */
    icon-size: 0 0;

    margin-top: $HEIGHT_STATUSBAR;
    margin-bottom: 0;
    margin-left: $MARGIN_LARGE;
    margin-right: $MARGIN_LARGE;

    background-image: "meegotouch-notification-information-background" 10px 10px 10px 10px;
}

MBannerStyle #InformationBanner.Landscape {
    maximum-size: 83.4mm 8mm;
    minimum-size: 46mm 8mm;
    preferred-size: 83.4mm -1;
}

MBannerStyle #InformationBanner.Portrait {
    maximum-size: 46.4mm 10.6mm;
    minimum-size: 46.4mm 8mm;
    preferred-size: 46.4mm -1;
}

#InformationBannerTitle{
    color:$COLOR_INVERTED_FOREGROUND;
    font: $FONT_DEFAULT;

    preferred-line-count: 3;
    preferred-line-count-behavior: "limit";

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
}

/* Private banner (subtitle not visible) at event screen */

MBannerStyle #PrivateEventBanner {
    icon-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    margin-right: $MARGIN_LARGE;
    margin-left:  $MARGIN_LARGE;
    background-image: "meegotouch-lockscreen-notification-background" 10px 10px 10px 10px;
}

MBannerStyle #PrivateEventBanner.Landscape {
    minimum-size: 46.4mm 9.6mm;
    maximum-size: 46.4mm 12mm;
    preferred-size: 46.4mm -1mm;
}

MBannerStyle #PrivateEventBanner.Portrait {
    minimum-size: 46.4mm 9mm;
    maximum-size: 46.4mm 13.8mm;
    preferred-size: 46.4mm -1mm;
}

#PrivateEventBannerIcon {
    maximum-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    minimum-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    preferred-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;

    margin-top: 1.4mm;
    margin-bottom: $INDENT_DEFAULT;
    margin-left: $INDENT_DEFAULT;
    margin-right: 0;
}

#PrivateEventBannerTitle {
    font: $FONT_FAMILY 2.2mm;
    color:$COLOR_INVERTED_FOREGROUND;

    preferred-line-count: 2;
    preferred-line-count-behavior: "limit";

    margin-top: 1.0mm;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: 1.4mm;
}

#PrivateEventBannerTimeStamp {
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: 0;
    margin-right: 1.4mm;
}

#PrivateEventBannerPrefixTimeStamp {
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: $INDENT_DEFAULT;
    margin-right: $MARGIN_LARGE;
}

#PrivateEventBannerTimeStampIsolated {
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: $INDENT_DEFAULT;
    margin-right: 1.4mm;
}

/* Event banner at event screen (FullEventBanner) */

MBannerStyle #FullEventBanner {
    icon-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    background-image: "meegotouch-fulleventbanner-background" 10px 10px 10px 10px;
}

MBannerStyle #FullEventBanner:pressed {
    background-image: "meegotouch-fulleventbanner-background-pressed" 10px 10px 10px 10px;
}

MBannerStyle #FullEventBanner.Landscape {
    minimum-size: 48mm 9.6mm;
    maximum-size: 48mm 12mm;
    preferred-size: 48mm -1mm;
}

MBannerStyle #FullEventBanner.Portrait {
    minimum-size: 48mm 8mm;
    maximum-size: 48mm 13.8mm;
    preferred-size: 48mm -1mm;
}

#FullEventBannerIcon {
    maximum-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    minimum-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    preferred-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;

    margin-top: 1.0mm;
    margin-bottom: 0;
    margin-left: $MARGIN_XSMALL;
    margin-right: 0mm;
}

#FullEventBannerTitle {
    font: $FONT_FAMILY  2.2mm;
    color:$COLOR_INVERTED_FOREGROUND;

    preferred-line-count: 2;
    preferred-line-count-behavior: "limit";

    margin-top: 1.0mm;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: 1.4mm;
}

#FullEventBannerSubtitle {
    font: $FONT_XXSMALL;
    color: $COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: 1.4mm;
}

#FullEventBannerTimeStamp {
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: 0;
    margin-right: 1.4mm;
}

#FullEventBannerPrefixTimeStamp { 
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: $INDENT_DEFAULT;
    margin-right: $MARGIN_LARGE;
}

#FullEventBannerTimeStampIsolated {
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: $INDENT_DEFAULT;
    margin-right: 1.4mm;
}

/* Event banner at lock screen */

MBannerStyle #LockScreenEventBanner {
    icon-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    margin-right: $MARGIN_LARGE;
    margin-left:  $MARGIN_LARGE;
    background-image: "meegotouch-lockscreen-notification-background" 10px 10px 10px 10px;
}

MBannerStyle #LockScreenEventBanner.Landscape {
    minimum-size: 46.4mm 9mm;
    maximum-size: 46.4mm 13.8mm;
    preferred-size: 46.4mm -1mm;
}

MBannerStyle #LockScreenEventBanner.Portrait {
    minimum-size: 46.4mm 9mm;
    maximum-size: 46.4mm 13.8mm;
    preferred-size: 46.4mm -1mm;
}

#LockScreenEventBannerIcon {
    maximum-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    minimum-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;
    preferred-size: $SIZE_ICON_XLARGE  $SIZE_ICON_XLARGE;

    margin-top: 1.4mm;
    margin-bottom: $INDENT_DEFAULT;
    margin-left: $INDENT_DEFAULT;
    margin-right: 0mm;
}

#LockScreenEventBannerTitle {
    font: $FONT_FAMILY  2.2mm;
    color:$COLOR_INVERTED_FOREGROUND;

    preferred-line-count: 2;
    preferred-line-count-behavior: "limit";

    margin-top: 1.0mm;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: 1.4mm;

}

#LockScreenEventBannerSubtitle {
    font: $FONT_XXSMALL;
    color: $COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: 1.4mm;
}

#LockScreenEventBannerTimeStamp {
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: 0mm;
    margin-right: 1.4mm;
}

#LockScreenEventBannerPrefixTimeStamp {
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: $INDENT_DEFAULT;
    margin-right: $MARGIN_LARGE;
}

#LockScreenEventBannerTimeStampIsolated {
    font: $FONT_XXSMALL;
    color:$COLOR_INVERTED_SECONDARY_FOREGROUND;

    margin-top: $MARGIN_XSMALL;
    margin-bottom: 1.0mm;
    margin-left: $INDENT_DEFAULT;
    margin-right: 1.4mm;
}

/*Generic MBanner it can contain anything*/

MBannerStyle #GenericBanner {
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;

    margin-top: $HEIGHT_STATUSBAR;
    margin-bottom:$MARGIN_LARGE;
    margin-left:$MARGIN_LARGE;
    margin-right: $MARGIN_LARGE;

    background-image: "meegotouch-notification-system-background" 10px 10px 10px 10px;
}

MBannerStyle #GenericBanner:pressed {
    background-image: "meegotouch-notification-system-background-pressed" 10px 10px 10px 10px;
}

MBannerStyle #GenericBanner.Landscape {
    maximum-size: 83.4mm 10.6mm;
    minimum-size: 46.6mm 6.4mm;
    preferred-size: 83.4mm -1;
}

MBannerStyle #GenericBanner.Portrait {
    maximum-size: 46.4mm 10.6mm;
    minimum-size: 46.4mm 6.4mm;
    preferred-size: 46.4mm -1;
}

#GenericBannerIcon {
    margin-top: $INDENT_DEFAULT;
    margin-bottom: $INDENT_DEFAULT;
    margin-right: 0;
    margin-left: $INDENT_DEFAULT;
}

#GenericBannerTitle {
    color:$COLOR_INVERTED_FOREGROUND;
    font: $FONT_DEFAULT;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: 0;
}

#GenericBannerSubtitle {
    color:$COLOR_INVERTED_FOREGROUND;
    font: $FONT_SMALL;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: $INDENT_DEFAULT;
}

#GenericBannerTimeStamp {
    color:$COLOR_INVERTED_FOREGROUND;
    font: $FONT_SMALL;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: 0;
}

#GenericBannerPrefixTimeStamp {
    color:$COLOR_INVERTED_FOREGROUND;
    font: $FONT_SMALL;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: $INDENT_DEFAULT;
    margin-right: 0;
}
