/* MBannerStyle : MWidgetStyle */
MBannerStyle {
    icon-size: $SIZE_ICON_LARGE $SIZE_ICON_LARGE;
    maximum-size: 100% 6.4mm;
    padding-left: $MARGIN_XLARGE;
    padding-right: $MARGIN_XLARGE;
    disappear-timeout: 5000;
    background-image : "meegotouch-notification-event-background" 10px 10px 10px 10px;
}

MBannerStyle.Portrait {
    icon-size: $SIZE_ICON_XLARGE $SIZE_ICON_XLARGE;
    maximum-size: 100% 8.8mm;
    padding-left: $MARGIN_XLARGE;
    padding-right: $MARGIN_XLARGE;
    disappear-timeout: 3000;
    background-image : "meegotouch-notification-event-background" 10px 10px 10px 10px;
}

MBannerStyle[event] {
    background-image : "meegotouch-notification-event-background" 10px 10px 10px 10px;
}

MBannerStyle[event]:pressed {
    background-image : "meegotouch-notification-event-background-pressed" 10px 10px 10px 10px;
}
MBannerStyle[information] {
    background-image : "meegotouch-notification-information-background" 10px 10px 10px 10px;
}

MBannerStyle[information]:pressed {
    background-image : "meegotouch-notification-information-background-pressed" 10px 10px 10px 10px;
}

MBannerStyle[system] {
    background-image : "meegotouch-notification-system-background" 10px 10px 10px 10px;
}

MBannerStyle[system]:pressed {
    background-image : "meegotouch-notification-system-background-pressed" 10px 10px 10px 10px;
}
