
MButtonSwitchStyle {
    background-image: "meegotouch-button-switch-background" 0 0 0 0;
    // thumb is the sliding part, should slide accross the whole area
    thumb-image: "meegotouch-button-switch-thumb" 0 0 0 0;
    // slider is behind thumb, but above background
    slider-image: "meegotouch-button-switch-colorstripe" 0 0 0 0;
    // slider-mask defines the shape of the slider-image
    slider-mask: "meegotouch-button-switch-mask" 0 0 0 0;

    minimum-size: 7.2mm 4.4mm;
    maximum-size: 7.2mm 4.4mm;
    preferred-size: 7.2mm 4.4mm;
}

MButtonSwitchStyle:pressed {
    background-image: "meegotouch-button-switch-background" 0 0 0 0;
    // thumb is the sliding part, should slide accross the whole area
    thumb-image: "meegotouch-button-switch-thumb" 0 0 0 0;
    // slider is behind thumb, but above background
    slider-image: "meegotouch-button-switch-colorstripe" 0 0 0 0;
    // slider-mask defines the shape of the slider-image
    slider-mask: "meegotouch-button-switch-mask" 0 0 0 0;

    minimum-size: 7.2mm 4.4mm;
    maximum-size: 7.2mm 4.4mm;
    preferred-size: 7.2mm 4.4mm;
}

MButtonSwitchStyle:selected {
    background-image: "meegotouch-button-switch-background" 0 0 0 0;
    // thumb is the sliding part, should slide accross the whole area
    thumb-image: "meegotouch-button-switch-thumb" 0 0 0 0;
    // slider is behind thumb, but above background
    slider-image: "meegotouch-button-switch-colorstripe" 0 0 0 0;
    // slider-mask defines the shape of the slider-image
    slider-mask: "meegotouch-button-switch-mask" 0 0 0 0;

    minimum-size: 7.2mm 4.4mm;
    maximum-size: 7.2mm 4.4mm;
    preferred-size: 7.2mm 4.4mm;
}
