MButtonSwitchStyle {
    background-color: none;
    background-tiles: none;
    background-image: none;
    /* thumb is the sliding part, should slide accross the whole area */
    thumb-image: "meegotouch-switch-thumb" 14px 14px 14px 14px;
    thumb-image-shadow: "meegotouch-switch-shadow" 14px 14px 14px 14px;
    thumb-shadow-offset: 0 0.3mm;

    /* slider is behind thumb, but above background */
    slider-image: "meegotouch-switch-off" 32px 32px 20px 20px;
    slider-image-selected: "meegotouch-switch-on" 32px 32px 20px 20px;

    minimum-size:   66px 42px;
    maximum-size:   66px 42px;
    preferred-size: 66px 42px;

    thumb-margin: 0.7mm;

    reactive-margin-left:   $MARGIN_XLARGE;
    reactive-margin-right:  $MARGIN_XLARGE;
    reactive-margin-top:    $MARGIN_XLARGE;
    reactive-margin-bottom: $MARGIN_XLARGE;

    press-on-feedback: ;
    press-off-feedback: ;
    release-on-feedback: ;
    release-off-feedback: ;
}
MButtonSwitchStyle:pressed {
    background-color: none;
    background-tiles: none;
    background-image: none;

    thumb-image: "meegotouch-switch-thumb-pressed" 14px 14px 14px 14px;
}
MButtonSwitchStyle:selected {
    background-color: none;
    background-tiles: none;
    background-image: none;
}
MButtonSwitchStyle:disabled {
    background-color: none;
    background-tiles: none;
    background-image: none;

    thumb-image: "meegotouch-switch-thumb-disabled" 14px 14px 14px 14px;
    thumb-image-shadow: none;
}
MButtonSwitchStyle:disabled-selected {
    background-color: none;
    background-tiles: none;
    background-image: none;

    thumb-image: "meegotouch-switch-thumb-disabled" 14px 14px 14px 14px;
    thumb-image-shadow: none;
}
