MCheckboxStyle {

    margin-left: $MARGIN_DEFAULT;
    margin-top: $MARGIN_DEFAULT;
    margin-right: $MARGIN_DEFAULT;
    margin-bottom: $MARGIN_DEFAULT;

    background-image: "meegotouch-button-checkbox-background" 4px 4px 4px 4px;

    minimum-size: $SIZE_CHECKBOX $SIZE_CHECKBOX;
    maximum-size: $SIZE_CHECKBOX $SIZE_CHECKBOX;
    preferred-size: $SIZE_CHECKBOX $SIZE_CHECKBOX;
    
    checkmark-image: ;

    press-on-feedback: press-on;
    press-off-feedback: press-off;
    release-on-feedback: release-on;
    release-off-feedback: release-off;
}

MCheckboxStyle:pressed {
    background-image: "meegotouch-button-checkbox-background-pressed" 4px 4px 4px 4px;
    checkmark-image: "meegotouch-button-checkbox-checkmark-pressed" $SIZE_CHECKBOX $SIZE_CHECKBOX;
}

MCheckboxStyle:selected {
    background-image: "meegotouch-button-checkbox-background" 4px 4px 4px 4px;
    checkmark-image: "meegotouch-button-checkbox-checkmark" $SIZE_CHECKBOX $SIZE_CHECKBOX;
}

