MCheckboxStyle {

    margin-left: $MARGIN_DEFAULT;
    margin-top: $MARGIN_DEFAULT;
    margin-right: $MARGIN_DEFAULT;
    margin-bottom: $MARGIN_DEFAULT;

    background-image: "meegotouch-button-checkbox-background" 10px 10px 10px 10px;

    minimum-size: $SIZE_BUTTON $SIZE_BUTTON;
    maximum-size: $SIZE_BUTTON $SIZE_BUTTON;
    preferred-size: $SIZE_BUTTON $SIZE_BUTTON;
    
    checkmark-image: ;

    press-feedback: press;
    release-feedback: release;
}

MCheckboxStyle:pressed {
    background-image: "meegotouch-button-checkbox-background-pressed" 10px 10px 10px 10px;
    checkmark-image: "meegotouch-button-checkbox-checkmark-pressed" $SIZE_BUTTON $SIZE_BUTTON;
}

MCheckboxStyle:selected {
    background-image: "meegotouch-button-checkbox-background" 10px 10px 10px 10px;
    checkmark-image: "meegotouch-button-checkbox-checkmark" $SIZE_BUTTON $SIZE_BUTTON;
}

