@const ITEM_MODE_DEFAULT: 0;
@const ITEM_MODE_TOP_LEFT: 1;
@const ITEM_MODE_TOP: 2;
@const ITEM_MODE_TOP_RIGHT: 3;
@const ITEM_MODE_LEFT: 4;
@const ITEM_MODE_CENTER: 5;
@const ITEM_MODE_RIGHT: 6;
@const ITEM_MODE_SINGLE: 7;
@const ITEM_MODE_BOTTOM_LEFT: 8;
@const ITEM_MODE_BOTTOM; 9;
@const ITEM_MODE_BOTTOM_RIGHT: 10;
@const ITEM_MODE_SINGLE_ROW_LEFT: 11;
@const ITEM_MODE_SINGLE_ROW_CENTER: 12;
@const ITEM_MODE_SINGLE_ROW_RIGHT: 13;
@const ITEM_MODE_SINGLE_COLUMN_TOP: 14;
@const ITEM_MODE_SINGLE_COLUMN_CENTER: 15;
@const ITEM_MODE_SINGLE_COLUMN_BOTTOM: 16;

/* MComboBoxStyle : MWidgetStyle */
MComboBoxStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    padding-left:   0;
    padding-top:    0;
    padding-right:  0;
    padding-bottom: 0;

    item-mode: $ITEM_MODE_DEFAULT;
    content-item-object-name: ;
}

MComboBox MContentItemStyle {
    background-image : "duibutton-background" 10px 10px 10px 10px;
    background-color: $COLOR_BACKGROUND;
    background-opacity: 1.0;

    /* inherited from MWidgetStyle */
    margin-left: $MARGIN_MEDIUM;
    margin-right: $MARGIN_MEDIUM;
    margin-top: $MARGIN_MEDIUM;
    margin-bottom: $MARGIN_MEDIUM;

    padding-left:   $PADDING_DEFAULT;
    padding-top:    $PADDING_DEFAULT;
    padding-right:  $PADDING_DEFAULT;
    padding-bottom: $PADDING_DEFAULT;

    preferred-size: -1 $SIZE_BUTTON;
    minimum-size: $SIZE_BUTTON $SIZE_BUTTON;
    maximum-size: 100% $SIZE_BUTTON;

    image-object-name: "MComboBoxIcon";
    title-object-name: "MComboBoxTitle";
    subtitle-object-name: "MComboBoxSubtitle";

    optional-image-object-name: "MComboBoxOptionalImage";
    small-item-object-name: "MComboBoxSmallItem";

}

MComboBox MContentItemStyle:pressed {
    background-image : "duibutton-background-pressed" 10px 10px 10px 10px;
    background-color: $COLOR_SELECT;
    background-opacity: 1.0;
}

#MComboBoxIcon {
    /* inherited from MWidgetStyle */
    preferred-size: $SIZE_ICON $SIZE_ICON;
    minimum-size: $SIZE_ICON $SIZE_ICON;
    maximum-size: $SIZE_ICON $SIZE_ICON;

    margin-left:   $MARGIN_MEDIUM;
    margin-right:  $MARGIN_MEDIUM;
    margin-top:    $MARGIN_MEDIUM;
    margin-bottom: $MARGIN_MEDIUM;
}

#MComboBoxTitle {
    font: $FONT_DEFAULT;

    /* inherited from MWidgetStyle */
    margin-left:   $MARGIN_MEDIUM;
    margin-right:  $MARGIN_MEDIUM;
    margin-top:    $MARGIN_XSMALL;
    margin-bottom: $MARGIN_XSMALL;
}

#MComboBoxSubtitle {
    font: $FONT_SMALL;
    color: $COLOR_SECONDARY_FOREGROUND;

    /* inherited from MWidgetStyle */
    margin-left:   $MARGIN_MEDIUM;
    margin-right:  $MARGIN_DEFAULT;
    margin-top:    $MARGIN_XSMALL;
    margin-bottom: $MARGIN_XSMALL;
}

#MComboBoxOptionalImage {
    /* inherited from MWidgetStyle */
    preferred-size: 0 0;
    minimum-size: 0 0;
    maximum-size: 0 0;

    margin-left:   0;
    margin-right:  0;
    margin-top:    0;
    margin-bottom: 0;
}

#MComboBoxSmallItem {
    /* inherited from MWidgetStyle */
    preferred-size: 0 0;
    minimum-size: 0 0;
    maximum-size: 0 0;

    margin-left:   0;
    margin-right:  0;
    margin-top:    0;
    margin-bottom: 0;
}


MComboBoxStyle[topleft]
{
    item-mode: $ITEM_MODE_TOP_LEFT;
}

MComboBoxStyle[top]
{
    item-mode: $ITEM_MODE_TOP;
}

MComboBoxStyle[topright]
{
    item-mode: $ITEM_MODE_TOP_RIGHT;
}

MComboBoxStyle[left]
{
    item-mode: $ITEM_MODE_LEFT;
}

MComboBoxStyle[center]
{
    item-mode: $ITEM_MODE_CENTER;
}

MComboBoxStyle[right]
{
    item-mode: $ITEM_MODE_RIGHT;
}

MComboBoxStyle[single]
{
    item-mode: $ITEM_MODE_SINGLE;
}

MComboBoxStyle[bottomleft]
{
    item-mode: $ITEM_MODE_BOTTOM_LEFT;
}

MComboBoxStyle[bottomright]
{
    item-mode: $ITEM_MODE_BOTTOM_RIGHT;
}

MComboBoxStyle[singlerowleft]
{
    item-mode: $ITEM_MODE_SINGLE_ROW_LEFT;
}

MComboBoxStyle[singlerowcenter]
{
    item-mode: $ITEM_MODE_SINGLE_ROW_CENTER;
}

MComboBoxStyle[singlerowright]
{
    item-mode: $ITEM_MODE_SINGLE_ROW_RIGHT;
}

MComboBoxStyle[singlecolumntop]
{
    item-mode: $ITEM_MODE_SINGLE_COLUMN_TOP;
}

MComboBoxStyle[singlecolumncenter]
{
    item-mode: $ITEM_MODE_SINGLE_COLUMN_CENTER;
}

MComboBoxStyle[singlecolumnbottom]
{
    item-mode: $ITEM_MODE_SINGLE_COLUMN_BOTTOM;
}

