@const COMPLETERBUTTONWIDTH: 84;
@const COMPLETERBUTTONHEIGHT: 84;
@const COMPLETERBUTTON_CORNER_MARGINS: 40px 40px 40px 40px;

/* MCompleterStyle : MSceneWindowStyle */
MCompleterStyle {
    background-image: meegotouch-completer-background 16px 16px 16px 16px;
    highlight-color: $COLOR_FOREGROUND;
    y-position-offset: 8;

    margin-left: $MARGIN_MEDIUM;
    margin-top: $INDENT_DEFAULT;
    margin-right: $MARGIN_MEDIUM;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

MCompleterStyle.Portrait {
    minimum-size: 468 84;
    preferred-size: 468 84;
    maximum-size: 468 84;
}


MCompleterStyle.Landscape {
    minimum-size: 441 84;
    preferred-size: 441 84;
    maximum-size: 441 84;
}


#MCompleterTotalButton {
    font: $FONT_FAMILY normal 2.0mm ;
    text-color: $COLOR_INVERTED_FOREGROUND;
    vertical-text-align: vcenter;
    horizontal-text-align: hcenter;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-image: meegotouch-completer-button $COMPLETERBUTTON_CORNER_MARGINS;

    text-margin-left: $MARGIN_DOUBLE;
    text-margin-top: 0;
    text-margin-right: $MARGIN_DOUBLE;
    text-margin-bottom: 0;

    minimum-size: 84px 84px;
    maximum-size: 84px 84px;
    preferred-size: 84px 84px;
}

#MCompleterTotalButton:pressed {
    background-image: meegotouch-completer-button-pressed $COMPLETERBUTTON_CORNER_MARGINS;
}

#MCompleterCandidatesLabel {
    font: $FONT_FAMILY normal 2.6mm ;
    color: $COLOR_SECONDARY_FOREGROUND;
    height: 88;
    margin-left: $MARGIN_XXLARGE;
    margin-top: 2.6mm;
    margin-right: 0;
    margin-bottom: 3.6mm;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

MCompleterStyle:pressed {
    background-image: meegotouch-completer-background-pressed $CORNER_MARGINS;
}
