
MContainerStyle { /* settings for the whole container */

    minimum-size: $SIZE_ONE, $SIZE_ONE; /* inherited from duiwidgetstyle */

    margin-left: 0; /* inherited from duiwidgetstyle */
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    /* this affects the whole content including header and central widget, see also internal-margins */
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    background-image: "duicontainer-content-background" 14px 14px 14px 14px;

    icon-size: 32 32;
    internal-margins: 0;
    internal-item-spacing: 0;
}

MContainerHeaderStyle {

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    padding-left: $PADDING_MEDIUM; /* inherited from duiwidgetstyle */
    padding-right: $PADDING_MEDIUM; /* this would set the internal padding around the text */
    padding-top: 0;
    padding-bottom: 0;

    background-image: "duicontainer-header-background" 14px 14px 14px 14px;
}

MContainerHeaderStyle:pressed {
    background-image: "duicontainer-header-background-pressed" 14px 14px 14px 14px;
}

MContainerHeader MLabelStyle {
   color: $COLOR_INVERTED_FOREGROUND;
}
