
/* MDialogStyle : MSceneWindowStyle */
MDialogStyle {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0.4mm;

    vertical-align: center;
    horizontal-align: center;

    minimum-size: 100% 100%;
    preferred-size: 100% 100%;
    maximum-size: 100% 100%;

    vertical-spacing: 0;
    button-spacing: 0;

    title-bar-height: 5.7mm;
    title-bar-alignment: top;
    title-capitalization: false;

    /* supports only "bottom" or "center" */
    dialog-vertical-alignment: center;

    dialog-top-margin: 3.5mm;
    dialog-bottom-margin: 0;
    dialog-left-margin: 0;
    dialog-right-margin: 0;

    dialog-minimum-size: 54.4mm 13.7mm;
    dialog-preferred-size: 54.4mm -1;
    dialog-button-fixed-width: -1;
    button-box-centered: false;

    has-close-button: true;
    has-title-bar: true;

    button-box-orientation: horizontal;
    button-box-centered: true;
    dialog-button-fixed-width: 21.2mm;

    maximum-horizontal-buttons: 3;

    /* This is a hack to avoid the animation starting from the corner. This should become obsolete eventually. */
    padding-left: 16mm;
    padding-right: 16mm;
}

MDialogStyle.Portrait {
    dialog-minimum-size: 44.8mm 13.7mm;
    dialog-preferred-size: 44.8mm -1;
    maximum-horizontal-buttons: 2;
    button-spacing: $MARGIN_DEFAULT;

    /* This is a hack to avoid the animation starting from the corner. This should become obsolete eventually. */
    padding-left: 1.6mm;
    padding-right: 1.6mm;
}

#MDialogContentsViewport {
    /* 5 * SIZE_BUTTON + 0.4mm padding */
    minimum-size: -1 -1;
    preferred-size: -1 -1;
    maximum-size: -1 32.4mm;

    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0.4mm;

    background-image: "meegotouch-dialog-background" 12px 12px 12px 12px;
}

#MDialogContentsViewport.Portrait {
    /* 10 * SIZE_BUTTON + 0.4mm padding */
    minimum-size: -1 -1;
    preferred-size: -1 -1;
    maximum-size: -1 64.4mm;
}

MPannableWidgetStyle[titlebarless]#MDialogContentsViewport {
    background-image: "meegotouch-dialog-query-background" 12px 12px 12px 12px;
}

#MDialogCloseButton {
    icon-size: $SIZE_ICON_DEFAULT $SIZE_ICON_DEFAULT;
    minimum-size: 5.2mm 5.2mm;
    preferred-size: 5.2mm 5.2mm;
    maximum-size: 5.2mm 5.2mm;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;

    reactive-margin-left: 2mm;
    reactive-margin-top: 2mm;
    reactive-margin-bottom: 2mm;
}

#MDialogTitleLabel {
    margin-left: $MARGIN_XLARGE;
    margin-right: $MARGIN_XLARGE;
    color: $COLOR_INVERTED_FOREGROUND;
    font: $FONT_DEFAULT;
}

#MDialogTitleBar {
    background-image: "meegotouch-dialog-header-background" 12px 12px 12px 12px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;

    minimum-size: -1 5.7mm;
    preferred-size: -1 5.7mm;
    maximum-size: -1 5.7mm;
}

#MDialogButtonBox {
    minimum-size: -1 $SIZE_BUTTON;
    preferred-size: -1 $SIZE_BUTTON;
    maximum-size: -1 $SIZE_BUTTON;

    background-image: meegotouch-dialog-button-area-background 10px 10px 10px 10px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#MDialogProgressIndicator {
    base-image-name: "spinner";
    base-image-size: $SIZE_SPINNER_DIALOG;
    minimum-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
    preferred-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
    maximum-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;

    margin-top: $MARGIN_LARGE;
}

