MDockWidgetStyle {
    /* inherited from MWidgetStyle */
    background-image: none;
    background-opacity: 1.0;
    background-color: $COLOR_BACKGROUND;

    /* inherited from MSceneWindowStyle */
    horizontal-align: left;
    vertical-align: top;

    offset: 0 0;

    minimum-size: 100% $HEIGHT_NAVIGATIONBAR_PORTRAIT;
    preferred-size: 100% $HEIGHT_NAVIGATIONBAR_PORTRAIT;
    maximum-size: 100% $HEIGHT_NAVIGATIONBAR_PORTRAIT;
}

MDockWidgetStyle.Landscape {
    minimum-size: 100% $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
    preferred-size: 100% $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
    maximum-size: 100% $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
}

