/* MListIndexStyle : MWidgetStyle */
MListIndexStyle {
    shortcut-object-name: "whiteFont";

    background-opacity: 0.5;
    background-image: meegotouch-fastscroll-background 12px 12px 12px 12px;
    preferred-size: 7mm  100%;

    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    
    appear-delay: 500;
    appear-duration: 300;
    fade-out-delay: 2000;

    floating-index-offset: 50;
    floating-index-count: 3;
    floating-snap-distance: 20;
}

#whiteFont {
    color: $COLOR_INVERTED_FOREGROUND;

    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}

MListIndexTooltipStyle {
    background-image: meegotouch-scroll-bubble-background $CORNER_MARGINS;
    arrow-pixmap: meegotouch-scroll-bubble-arrow;

    padding-top: 2.0mm;
    padding-left: 2.0mm;
    padding-bottom: 2.0mm;
    padding-right: 2.0mm;   
}

MListIndexTooltip MLabelStyle#IndexLabel {
    color: #AAAAAA;
}

MListIndexTooltip MLabelStyle#IndexLabel:selected {
    color: #FFFFFF;
}

MListIndexTooltip MSeparatorStyle#IndexSeparator {
    span: 0.1mm;
    background-image: "meegotouch-separator-background-horizontal" 0px 0px 0px 0px;
}

