/* MListStyle : MWidgetStyle */
MListStyle {
    group-header-object-name: "";
    horizontal-separator-object-name: "emptySeparator"; 
    vertical-separator-object-name: "emptySeparator";
    group-separator-object-name: "emptySeparator";
    list-index-style-name: "";
}


#emptySeparator {
    span: 0.0mm;
}
