/* MObjectMenuStyle : MSceneWindowStyle */

MObjectMenuStyle {

    /* inherited from MWidgetStyle */
    minimum-size: -1 -1;
    preferred-size: -1 -1;

    vertical-align: center;
    horizontal-align: center;

    appear-feedback: appear-objectmenu;
}

@const CB_WIDTH: 44.8mm;
@const CB_HEIGHT:  6.4mm;

MObjectMenu MButtonStyle {
    maximum-size: $CB_WIDTH $CB_HEIGHT;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    padding-left: $MARGIN_LARGE;

    background-tiles: meegotouch-button-objectmenu-background $CORNER_MARGINS;

    minimum-size: 50% $SIZE_MENU;
}

MObjectMenu MButtonStyle.Portrait {
    minimum-size: 90% $SIZE_MENU;
}

MObjectMenu MButtonStyle:pressed {
    background-tiles: meegotouch-button-objectmenu-background-pressed $CORNER_MARGINS;
}

MObjectMenu MWidgetStyle#ObjectMenuTitleArea {
    padding-left: $MARGIN_LARGE;
        
    maximum-size: $CB_WIDTH $CB_HEIGHT;
    minimum-size: 50% $SIZE_MENU;
}

MObjectMenuTitleArea > MImageWidgetStyle {
    margin-right: $MARGIN_LARGE;
    
    minimum-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
    preferred-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
    maximum-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
}

MObjectMenuTitleArea > MLabelStyle {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;

    color:$COLOR_BUTTON_BACKGROUND;
}

MObjectMenu MPannableWidgetStyle {
    preferred-size: -1 -1;
    maximum-size: -1 50%;
}

