
/* MPopupListStyle : MDialogStyle */
MPopupListStyle {
    dialog-top-margin: $HEIGHT_TOPBARS;
    dialog-bottom-margin: 0;
    dialog-left-margin: 0;
    dialog-right-margin: 0;
}

#MPopupListContentsViewport {
    preferred-size: -1 -1;
    background-image: "meegotouch-applicationpage-background";
}

#PopupListItem {
	margin-left: $MARGIN_LARGE;
}