/* MPositionIndicatorStyle : MWidgetStyle */
MPositionIndicatorStyle {
    indicator-image: "meegotouch-positionindicator-indicator" 2px 2px 2px 2px;
    background-image: "meegotouch-positionindicator-background" 2px 2px 2px 2px;
    min-indicator-size: 2mm;
    hide-timeout: 1000;

    margin-right: 0.4mm;
    margin-top: 0.4mm;
    margin-bottom: 0.4mm;

    /* inherited from MWidgetStyle */
    preferred-size: 0.6mm 0.6mm;
    minimum-size: 0.4mm 0.4mm;
    maximum-size: 10000 10000;

}

