/* MSliderStyle : MWidgetStyle */
MSliderStyle {
    handle-pixmap: "meegotouch-slider-handle-background-horizontal" 6.4mm 6.4mm;
    handle-pressed-pixmap: "meegotouch-slider-handle-background-pressed-horizontal" 6.4mm 6.4mm;
    handle-vertical-pixmap: "meegotouch-slider-handle-background-vertical" 6.4mm 6.4mm;
    handle-vertical-pressed-pixmap: "meegotouch-slider-handle-background-pressed-vertical" 6.4mm 6.4mm;

    background-base-image: "meegotouch-slider-background-horizontal" 7px 7px 7px 7px;
    background-elapsed-image: "meegotouch-slider-elapsed-background-horizontal" 7px 7px 7px 7px;
    background-received-image: "meegotouch-slider-received-background-horizontal" 7px 7px 7px 7px;

    background-vertical-base-image: "meegotouch-slider-background-vertical" 7px 7px 7px 7px;
    background-vertical-elapsed-image: "meegotouch-slider-elapsed-background-vertical" 7px 7px 7px 7px;
    background-vertical-received-image: "meegotouch-slider-received-background-vertical" 7px 7px 7px 7px;

    groove-thickness: 1.4mm;

    groove-preferred-length: 30mm;
    groove-minimum-length: 20mm;
    groove-maximum-length: 200mm; 
}

#MSliderMinMaxLabel {
    margin-left: $MARGIN_XSMALL;
    margin-right: $MARGIN_XSMALL;
    margin-top:  $MARGIN_XSMALL;
    margin-bottom: $MARGIN_XSMALL;

    color: $COLOR_FOREGROUND;
    font: $FONT_DEFAULT;
}

#MSliderHandleLabel {
    margin-left: $MARGIN_MEDIUM;
    margin-right: $MARGIN_MEDIUM;
    margin-top:  $MARGIN_MEDIUM;
    margin-bottom: $MARGIN_MEDIUM;

    padding-left: $PADDING_LARGE;
    padding-right: $PADDING_LARGE;
    padding-top:  $PADDING_MEDIUM;
    padding-bottom: $PADDING_MEDIUM;

    color: $COLOR_FOREGROUND;
    font: $FONT_DEFAULT;
    background-image: meegotouch-slider-handle-value-background $CORNER_MARGINS;
}

#MSliderImage {
    margin-left:   $MARGIN_XSMALL;
    margin-top:    $MARGIN_XSMALL;
    margin-right:  $MARGIN_XSMALL;
    margin-bottom: $MARGIN_XSMALL;

    padding-left:   $PADDING_XSMALL;
    padding-top:    $PADDING_XSMALL;
    padding-right:  $PADDING_XSMALL;
    padding-bottom: $PADDING_XSMALL;

    border-opacity: 0.0;
    background-opacity: 0.0;
}

