/* MSpinnerStyle : MWidgetStyle */
MSpinnerStyle {
    active-image: "duiprogressindicator-spinner-medium-on" 1.0mm 1.0mm;
    inactive-image: "duiprogressindicator-spinner-medium-off" 1.0mm 1.0mm;
    speed: 20;
    active-element-count: 1;
    element-size: 1.0mm;
    element-count: 7;

    maximum-size: 100% 100%;
    minimum-size: 2mm 2mm;
    preferred-size: 8.8mm 8.8mm;
}

MApplicationMenuButton > MSpinnerStyle {
    margin-left: $MARGIN_DOUBLE;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    active-image: "duiprogressindicator-spinner-medium-on" 1.0mm 1.0mm;
    inactive-image: "duiprogressindicator-spinner-medium-off" 1.0mm 1.0mm;
    element-size: 1mm;

    minimum-size: $SIZE_SPINNER_MENU $SIZE_SPINNER_MENU;
    preferred-size: $SIZE_SPINNER_MENU $SIZE_SPINNER_MENU;
    maximum-size: $SIZE_SPINNER_MENU $SIZE_SPINNER_MENU;
}

MContainer MSpinnerStyle {
    active-image: "duiprogressindicator-spinner-large-on" 1.6mm 1.6mm;
    inactive-image: "duiprogressindicator-spinner-large-off" 1.6mm 1.6mm;
    element-size: 1.6mm;

    minimum-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    preferred-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    maximum-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
}

MContainerHeader MSpinnerStyle {
    active-image: "duiprogressindicator-spinner-small-on" 0.8mm 0.8mm;
    inactive-image: "duiprogressindicator-spinner-small-off" 0.8mm 0.8mm;
    element-size: 0.8mm;
    minimum-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
    preferred-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
    maximum-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
}

/* MDialog MSpinnerStyle doesnt work */
#MDialogProgressIndicator {
    active-image: "duiprogressindicator-spinner-small-on" 0.8mm 0.8mm;
    inactive-image: "duiprogressindicator-spinner-small-off" 0.8mm 0.8mm;
    element-size: 0.8mm;

    minimum-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
    preferred-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
    maximum-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
}
