/* MSpinnerStyle : MWidgetStyle */
MSpinnerStyle {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" 8.8mm 8.8mm;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" 8.8mm 8.8mm;
    period: 2000;

    maximum-size: 8.8mm 8.8mm;
    minimum-size: 8.8mm 8.8mm;
    preferred-size: 8.8mm 8.8mm;
}

MApplicationMenuButton > MSpinnerStyle {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" 4mm 4mm;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" 4mm 4mm;

    margin-left: $MARGIN_DOUBLE;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    minimum-size: 4mm 4mm;
    preferred-size: 4mm 4mm;
    maximum-size: 4mm 4mm;
}

MContainer MSpinnerStyle {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" 8.8mm 8.8mm;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" 8.8mm 8.8mm;

    minimum-size: 8.8mm 8.8mm;
    preferred-size: 8.8mm 8.8mm;
    maximum-size: 8.8mm 8.8mm;
}

MContainerHeader MSpinnerStyle {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" 3.2mm 3.2mm;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" 3.2mm 3.2mm;

    minimum-size: 3.2mm 3.2mm;
    preferred-size: 3.2mm 3.2mm;
    maximum-size: 3.2mm 3.2mm;
}

/* MDialog MSpinnerStyle doesnt work */
#MDialogProgressIndicator {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" 4mm 4mm;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" 4mm 4mm;

    minimum-size: 4mm 4mm;
    preferred-size: 4mm 4mm;
    maximum-size: 4mm 4mm;
}
