/* MSpinnerStyle : MWidgetStyle */
MSpinnerStyle {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    period: 10000;

    maximum-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    minimum-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    preferred-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
}

MApplicationMenuButton > MSpinnerStyle {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" $SIZE_SPINNER_MENU $SIZE_SPINNER_MENU;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" $SIZE_SPINNER_MENU $SIZE_SPINNER_MENU;

    margin-left: $MARGIN_DOUBLE;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;

    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;

    minimum-size: $SIZE_SPINNER_MENU $SIZE_SPINNER_MENU;
    preferred-size: $SIZE_SPINNER_MENU $SIZE_SPINNER_MENU;
    maximum-size: $SIZE_SPINNER_MENU $SIZE_SPINNER_MENU;
}

MContainer MSpinnerStyle {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;

    minimum-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    preferred-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
    maximum-size: $SIZE_SPINNER_LARGE $SIZE_SPINNER_LARGE;
}

MContainerHeader MSpinnerStyle {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;

    minimum-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
    preferred-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
    maximum-size: $SIZE_SPINNER_SMALL $SIZE_SPINNER_SMALL;
}

/* MDialog MSpinnerStyle doesnt work */
#MDialogProgressIndicator {
    bg-pixmap: "meegotouch-progressindicator-spinner-background" $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
    progress-pixmap: "meegotouch-progressindicator-spinner-progress" $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;

    minimum-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
    preferred-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
    maximum-size: $SIZE_SPINNER_DIALOG $SIZE_SPINNER_DIALOG;
}
