MStatusBarStyle
{
    minimum-size: 100% $HEIGHT_STATUSBAR_WITH_REACTIVE_MARGIN;
    preferred-size: 100% $HEIGHT_STATUSBAR_WITH_REACTIVE_MARGIN;
    maximum-size: 100% $HEIGHT_STATUSBAR_WITH_REACTIVE_MARGIN;
    background-color: ;
    use-swipe-gesture: true;
    swipe-threshold: 30;
    press-feedback : press;
    press-dim-factor: 0.6;
    enable-status-indicator-menu: true;
}
