/* MTextEditStyle : MWidgetStyle */
MTextEditStyle {
    background-image: meegotouch-textedit-background $CORNER_MARGINS;

    font: $FONT_FAMILY_LIGHT 24px;
    text-color: $COLOR_FOREGROUND;
    selection-text-color: $COLOR_INVERTED_FOREGROUND;
    selection-background-color: $COLOR_SELECT;
    selection-threshold: 15.0;
    allow-view-reposition: true;
    disable-magnifier: false;
    mask-string: "\u2022"; /* bullet */
    prompt-font: $FONT_FAMILY_LIGHT 24px;
    prompt-color: #A6A8AB;
    paste-failed-icon: "icon-m-framework-close";
    paste-failed-duration: 3000;
    masking-delay: 1000;
    cursor-width: 2;
    focused-prompt-opacity: 0.6;
    unfocused-prompt-opacity: 1.0;
    focus-transition-duration: 150;
    hide-show-prompt-duration: 100;
    prompt-transition-delay: 60;

    text-clipping-top: 2px;
    text-clipping-bottom: 2px;
    text-clipping-left: 2px;
    text-clipping-right: 2px;

    /* inherited from MWidgetStyle */
    minimum-size: -1 52px;
    preferred-size: -1 -1;
    maximum-size: -1 -1;

    press-word-feedback: ;
    release-word-feedback: ;
    press-boundary-feedback: ;
    release-boundary-feedback: ;
    change-selection-feedback: ;

    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
}

MTextEditStyle:selected {
    background-image: meegotouch-textedit-background-selected $CORNER_MARGINS;
}

MTextEditStyle:error {
    background-image: meegotouch-textedit-background-error $CORNER_MARGINS;
}
