/* MToolbarStyle : MToolbarStyle */
MToolbarTabStyle {
    /* inherited from MWidgetStyle */
    background-opacity: 0.0;

    preferred-size: -1 $HEIGHT_NAVIGATIONBAR;
    minimum-size: -1 $HEIGHT_NAVIGATIONBAR;
    maximum-size: -1 $HEIGHT_NAVIGATIONBAR;
}

MButtonStyle[toolbartab] {

    background-image: meegotouch-button-navigationbar-tab-background $CORNER_MARGINS;
    background-color: $COLOR_BACKGROUND;
    text-color: $COLOR_FOREGROUND;
    /* inherited from MWidgetStyle */

    minimum-size: 9.2mm 5.8mm;
    preferred-size: 9.2mm 5.8mm;
    maximum-size: 9.2mm 5.8mm;

    reactive-margin-right: 0;
    reactive-margin-bottom: 0;

    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

MButtonStyle[toolbartab]:pressed {
    background-image: meegotouch-button-navigationbar-tab-background-pressed $CORNER_MARGINS;
    background-color: $COLOR_SELECT;
}

MButtonStyle[toolbartab]:selected {
    background-image: meegotouch-button-navigationbar-tab-background-selected $CORNER_MARGINS;
    background-color: $COLOR_SELECT;
}
