/* MToolbarStyle : MWidgetStyle */
MToolbarStyle {
    /* inherited from MWidgetStyle */
    background-opacity: 1.0;
    background-color: none;
    background-image: none;

    preferred-size: -1 $HEIGHT_NAVIGATIONBAR_PORTRAIT;
    minimum-size:   -1 $HEIGHT_NAVIGATIONBAR_PORTRAIT;
    maximum-size:   -1 $HEIGHT_NAVIGATIONBAR_PORTRAIT;

    drop-shadow-image: none;

    capacity: 5;
    has-icons:  true;
    has-labels: false;
    has-spaces: true;
    label-only-as-common-button: true;
    alignment-margins: 0; 
    center-to-parent: false;
    center-common-buttons-to-parent: false;

    label-only-common-button-style-name: "ToolBarLabelOnlyCommonButton";
    label-only-button-style-name: "ToolBarLabelOnlyButton";
    icon-button-style-name: "ToolBarIconButton";
    icon-label-button-style-name: "ToolBarIconButton";
}
MToolbarStyle.Landscape {
    preferred-size: -1 $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
    minimum-size:   -1 $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
    maximum-size:   -1 $HEIGHT_NAVIGATIONBAR_LANDSCAPE;

    center-common-buttons-to-parent: true;
}

MButtonIconStyle[toolbar] {
    /* inherited from MButtonStyle */
    font: $FONT_XXSMALL;
    text-color: $COLOR_FOREGROUND;

    icon-size: 40px 40px;
    icon-align: center;
    vertical-text-align: top;
    horizontal-text-align: center;

    text-margin-left: $MARGIN_MEDIUM;
    text-margin-top: 0;
    text-margin-right: $MARGIN_MEDIUM;
    text-margin-bottom: 0;

    /* inherited from MWidgetStyle */
    padding-left:   $PADDING_MEDIUM;
    padding-top:    $PADDING_MEDIUM;
    padding-right:  $PADDING_MEDIUM;
    padding-bottom: $PADDING_MEDIUM;

    minimum-size:   $WIDTH_HOMECLOSEBUTTON $HEIGHT_NAVIGATIONBAR_PORTRAIT;
    preferred-size: $WIDTH_HOMECLOSEBUTTON $HEIGHT_NAVIGATIONBAR_PORTRAIT;
    maximum-size:   $WIDTH_HOMECLOSEBUTTON $HEIGHT_NAVIGATIONBAR_PORTRAIT;

    reactive-margin-top: $MARGIN_MEDIUM;
    reactive-margin-bottom: $MARGIN_MEDIUM;
}
MButtonStyle[toolbar]:disabled {
    content-opacity: 0.3;
}

MButtonIconStyle[toolbar].Landscape {
    minimum-size:   $WIDTH_HOMECLOSEBUTTON $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
    preferred-size: $WIDTH_HOMECLOSEBUTTON $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
    maximum-size:   $WIDTH_HOMECLOSEBUTTON $HEIGHT_NAVIGATIONBAR_LANDSCAPE;
}

MButtonStyle#ToolBarLabelOnlyCommonButton {
    margin-left: $MARGIN_SMALL;
    margin-top: 7px;
    margin-right: $MARGIN_SMALL;
    margin-bottom: 7px;

    minimum-size:    42px 42px;
    preferred-size: 180px 42px;
    maximum-size:   180px 42px;

    background-image: "meegotouch-toolbar-textbutton-background" 20px 20px 20px 20px;
}
MButtonStyle#ToolBarLabelOnlyCommonButton.Portrait {
    margin-top: 15px;
    margin-bottom: 15px;
}
MButtonStyle#ToolBarLabelOnlyCommonButton:pressed {
    text-color: $COLOR_FOREGROUND;
    background-image: "meegotouch-toolbar-textbutton-background-pressed" 20px 20px 20px 20px;
}
MButtonStyle#ToolBarLabelOnlyCommonButton:selected {
    background-image: "meegotouch-toolbar-textbutton-background-selected" 20px 20px 20px 20px;
}
MButtonStyle#ToolBarLabelOnlyCommonButton:disabled {
    background-image: "meegotouch-toolbar-textbutton-background-disabled" 20px 20px 20px 20px;
}

/* Disabled states must be empty here */
MButtonStyle#ToolBarLabelOnlyButton:disabled {
    background-image: none;
}
MButtonStyle#ToolBarIconButton:disabled {
    background-image: none;
}

MTextEditStyle[toolbar] {
    margin-left: 14px;
    margin-right: 14px;
}
MTextEditStyle[toolbar].Landscape {
    margin-top: 1px;
    margin-bottom: 1px;
}
MTextEditStyle[toolbar].Portrait{
    margin-top: $MARGIN_LARGE;
    margin-bottom: $MARGIN_LARGE;
}


/*********** Inverted Style *************/

MToolbarStyle#MToolBarStyleInverted {
    label-only-common-button-style-name: "ToolBarLabelOnlyCommonButtonInverted";
    label-only-button-style-name: "ToolBarLabelOnlyButtonInverted";
    icon-button-style-name: "ToolBarIconButtonInverted";
    icon-label-button-style-name: "ToolBarIconButtonInverted";
}

MButtonStyle#ToolBarIconButtonInverted {
    text-color: $COLOR_INVERTED_SECONDARY_FOREGROUND;
}

MButtonStyle#ToolBarIconButtonInverted:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#ToolBarIconButtonInverted:selected {
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#ToolBarLabelOnlyCommonButtonInverted {
    background-image: "meegotouch-toolbar-textbutton-inverted-background" 20px 20px 20px 20px;
    text-color: $COLOR_INVERTED_FOREGROUND;

    minimum-size: 4.2mm 4.2mm;
    preferred-size: 18.0mm 4.2mm;
    maximum-size: 18.0mm 4.2mm;

    margin-left: $MARGIN_SMALL;
    margin-top: 0.7mm;
    margin-right: $MARGIN_SMALL;
    margin-bottom: 0.7mm;
}

MButtonStyle#ToolBarLabelOnlyCommonButtonInverted.Portrait {
    margin-top: 1.5mm;
    margin-bottom: 1.5mm;
}

MButtonStyle#ToolBarLabelOnlyCommonButtonInverted:pressed {
    background-image: "meegotouch-toolbar-textbutton-inverted-background-pressed" 20px 20px 20px 20px;
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#ToolBarLabelOnlyCommonButtonInverted:selected {
    background-image: "meegotouch-toolbar-textbutton-inverted-background-selected" 20px 20px 20px 20px;
    text-color: $COLOR_INVERTED_FOREGROUND;
}

MButtonStyle#ToolBarLabelOnlyCommonButtonInverted:disabled {
    background-image: "meegotouch-toolbar-textbutton-inverted-background-disabled" 20px 20px 20px 20px;
    content-opacity: 0.3;
}

