Source: meegotouchtheme
Section: x11
Priority: extra
Maintainer: Tomas Junnonen <tomas.junnonen@nokia.com>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.2

Package: meegotouchtheme
Architecture: all
Depends: ui-fonts
Conflicts: fmbe-pulse-data
Replaces: fmbe-pulse-data, duitheme
Description: Themes required by any MeeGo Touch library based application.
 Contains the base theme files and two alternative themes with different look.

