/*  LABELS  */

#CommonBodyText {
    
    font : $FONT_DEFAULT;
    margin-top : 2.4mm;
    margin-left : 2.4mm;
    margin-bottom : 2.4mm;
    margin-right : 2.4mm;
}

#CommonLightBodyText {
    
    font : $FONT_DEFAULT;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-top : 2.4mm;
    margin-left : 2.4mm;
    margin-bottom : 2.4mm;
    margin-right : 2.4mm;
}

#CommonSingleTitle {

    font : $FONT_DEFAULT_BOLD;
    margin-left : $INDENT_DEFAULT;    
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : 0;
}

#CommonSingleTitle:selected {

  color: $COLOR_INVERTED_FOREGROUND;
}

#CommonTitle {

    font : $FONT_DEFAULT_BOLD;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_FOREGROUND;
}

#CommonTitle:selected {

    color: $COLOR_INVERTED_FOREGROUND;
}


#CommonTitleAccented {

    font : $FONT_DEFAULT_BOLD;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_ACCENT1;

}

#CommonTitleInverted {

    font : $FONT_DEFAULT_BOLD;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_SECONDARY_FOREGROUND;

}


#CommonSingleTitleInverted {

    font : $FONT_DEFAULT_BOLD;
    margin-left : $INDENT_DEFAULT;    
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : 0;
    color : $COLOR_INVERTED_FOREGROUND;
}

#CommonSubTitle {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubTitle:selected {

    color : $COLOR_SECONDARY_FOREGROUND;
}

#CommonSubTitleAccented {
    
    font : $FONT_SMALL;
    color : $COLOR_ACCENT1;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubTitleInverted {
    
    font : $FONT_SMALL;
    color : $COLOR_INVERTED_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubText {

    font : $FONT_XSMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubTextInverted {

    font : $FONT_XSMALL;
    color : $COLOR_INVERTED_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonItemInfo {

    font : $FONT_SMALL;
    color : $COLOR_FOREGROUND;                    /* TBD */
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonCountBubbleTop {
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XLARGE;
}

#CommonCountBubble {
    margin-right : $INDENT_DEFAULT;
}

#CommonHeader {

    font : $FONT_SMALL;
    color : $COLOR_INVERTED_FOREGROUND;                    /* TBD */
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonHeaderLarge {

    font : $FONT_SMALL;
    color : $COLOR_INVERTED_FOREGROUND;                    /* TBD */
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}


#CommonLargeGroupHeader {

    font : $FONT_XLARGE;
    color : #252525;                    /* TBD */
    margin-left : $MARGIN_XLARGE;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;

    minimum-size: -1 7.2mm;
    preferred-size: -1 7.2mm;
    maximum-size: -1 7.2mm;
}

#CommonSubHeader {

    font : $FONT_SMALL;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : 0;
}

#CommonFieldHeader {

    font : $FONT_SMALL;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonQueryTitle {
    font: $FONT_DEFAULT_BOLD;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    }
    
#CommonQueryText {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    }
    
#CommonButtonLabel {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
}

/*  Temporary styles */


#CommonTitleAccentedLeftMargin {

    font : $FONT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_ACCENT1;
}


#CommonTitleAccentedRightMargin {

    font : $FONT_DEFAULT;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_ACCENT1;
}


#CommonTitleLeftMargin {

    font : $FONT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_FOREGROUND;
}


#CommonTitleRightMargin {

    font : $FONT_DEFAULT;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_FOREGROUND;
}


#CommonSubTitleLeftMargin {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}


#CommonSubTitleRightMargin {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubTitleWithoutMargin {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : 0;
    margin-right : 0;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}



/*  ICONS AND THUMBNAILS  */


#CommonMainIcon {

    maximum-size: 6.4mm 6.4mm;
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    margin-left : $MARGIN_DOUBLE;
    margin-right : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
}

#CommonTitleIcon {
    maximum-size: 3.2mm 3.2mm;
    minimum-size: 3.2mm 3.2mm;
    preferred-size: 3.2mm 3.2mm;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
}

#CommonSettingsIcon {
    maximum-size: 4.8mm 4.8mm;
    minimum-size: 4.8mm 4.8mm;
    preferred-size: 4.8mm 4.8mm;
    margin-left : 2mm;
    margin-right : 2mm;
    margin-top : 2mm;
    margin-bottom : 2mm;
}

#CommonTitleIconTop {

    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_LARGE;
    margin-bottom : 0;
}

#CommonHeaderIcon {
    margin-left : $INDENT_DEFAULT;
}

#CommonSubIcon {

    maximum-size: 2.8mm 2.8mm;
    minimum-size: 2.8mm 2.8mm;
    preferred-size: 2.8mm 2.8mm;
    margin-left : $MARGIN_XSMALL;
    margin-right : $MARGIN_XSMALL;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : $MARGIN_XSMALL;
}

#CommonSubIconTop {

    maximum-size: 2.8mm 2.8mm;
    minimum-size: 2.8mm 2.8mm;
    preferred-size: 2.8mm 2.8mm;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : $MARGIN_MEDIUM;
}

#CommonSubIconBottom {

    maximum-size: 2.8mm 2.8mm;
    minimum-size: 2.8mm 2.8mm;
    preferred-size: 2.8mm 2.8mm;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : 0;
}

#CommonSwitchIcon {

    margin-right : $INDENT_DEFAULT;
    maximum-size: 3.2mm 3.2mm;
    minimum-size: 3.2mm 3.2mm;
    preferred-size: 3.2mm 3.2mm;
    
}

#CommonButtonIcon {
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    maximum-size: 3.2mm 3.2mm;
    minimum-size: 3.2mm 3.2mm;
    preferred-size: 3.2mm 3.2mm;

}

#CommonQueryIcon {
    margin-left : $MARGIN_DOUBLE;
    margin-right : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    maximum-size: 8.0mm 8.0mm;
    minimum-size: 8.0mm 8.0mm;
    preferred-size: 8.0mm 8.0mm;
}

#CommonThumbnail {

    margin-left : 0.8mm;
    margin-right : 0;
    margin-top : 0.4mm;
    margin-bottom : 0.4mm;
    maximum-size: 8.0mm 8.0mm;
    minimum-size: 8.0mm 8.0mm;
    preferred-size: 8.0mm 8.0mm;
}

#CommonSmallThumbnail {

    margin-left : $MARGIN_DOUBLE;
    margin-right : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    maximum-size: 6.4mm 6.4mm;
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
}

#CommonAvatarPlaceholder {
    margin-left : $MARGIN_LARGE;
    margin-right : 0;
    margin-top : 0.4mm;
    margin-bottom : 0.4mm;
    maximum-size: 8.0mm 8.0mm;
    minimum-size: 8.0mm 8.0mm;
    preferred-size: 8.0mm 8.0mm;
/* The image is temporary and will be replaced with a dedicated placeholder graphic */
    avatarBackgroundImage: meegotouch-panel-background-selected;
}

#CommonAvatarInitials {
    font: $FONT_XLARGE_BOLD;
    color: $COLOR_INVERTED_FOREGROUND;
}

/*  CONTROLS  */


#CommonSwitch {

    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
}

#CommonSlider {

    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : 0;
    margin-right : 0;
    maximum-size : 50mm -1;
}

#CommonProgressIndicator {

    margin-right : $INDENT_DEFAULT;
}

#CommonProgressBar {
    margin-top : $MARGIN_DOUBLE;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
}


/* Input Fields */

#CommonInputField {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

#CommonSingleInputField {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}
#CommonTopInputField {
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}
#CommonTopInputField.Portrait {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
}
#CommonTopInputField.Landscape {
    margin-left : $INDENT_DEFAULT;
    margin-right : $MARGIN_LARGE;
}

#CommonBottomInputField {
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}
#CommonBottomInputField.Portrait {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
}
#CommonBottomInputField.Landscape {
    margin-left : $MARGIN_LARGE;
    margin-right : $INDENT_DEFAULT;
}



/* BUTTONS */

#CommonSingleButton {
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;

}

#CommonLeftButton {
    margin-right : $MARGIN_SMALL;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

#CommonRightButton {
    margin-right : $INDENT_DEFAULT;
    margin-left : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

#CommonTopButton {
    margin-top : $MARGIN_DOUBLE;
    margin-left : $INDENT_DEFAULT;

}
/* position on the left side in LS */
#CommonTopButton.Landscape {
    margin-right : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
}
#CommonTopButton.Portrait {
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_MEDIUM; 
}

#CommonBottomButton {
    margin-bottom : $MARGIN_DOUBLE;
    margin-right : $INDENT_DEFAULT;

}
/* position on the right side in LS */
#CommonBottomButton.Landscape {
    margin-top : $MARGIN_DOUBLE;
    margin-left : $MARGIN_SMALL;
}
#CommonBottomButton.Portrait {
    margin-top : $MARGIN_MEDIUM;
    margin-left : $INDENT_DEFAULT;
}

/* Common Center Button will be deleted, instead h and v center variants are used */
#CommonCenterButton {
    margin-right : $MARGIN_SMALL;
    margin-left : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;

}

#CommonVerticalCenterButton {


}
#CommonVerticalCenterButton.Landscape {
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-right : $MARGIN_SMALL;
    margin-left : $MARGIN_SMALL;
}
#CommonVerticalCenterButton.Portrait {
    margin-top : $MARGIN_MEDIUM;
    margin-bottom : $MARGIN_MEDIUM;
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
}

#CommonHorizontalCenterButton {
    margin-left : $MARGIN_SMALL;
    margin-right : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;


}


#CommonIconButton  {
/* px to mm is pending PPI adjustment */
    preferred-size: 114px 88px;
    maximum-size: 114px 88px;
    minimum-size: 64px 88px;
    font: $FONT_XSMALL;
    text-color: $COLOR_SECONDARY_FOREGROUND;
    text-margin-top: $MARGIN_MEDIUM;
/* right and left text-margin might be needed due to a padding-bug */
    text-margin-left: 1px;
    text-margin-right: 1px;
    icon-size: 64px 64px;
}

#CommonIconButton:selected {
    background-image: ;
    background-color: ;
}

#CommonCheckBox {

   margin-right : $INDENT_DEFAULT;
   margin-left : $INDENT_DEFAULT;
}

#CommonHorizontalSeparator {
    margin-right : 0;
    margin-left : 0;
    margin-bottom : 0;
    margin-top : 0;
}

#CommonVerticalSeparator {
    margin-right : 0;
    margin-left : 0;
    margin-bottom : 0;
    margin-top : 0;
}

/* Inverted buttons */

#CommonSingleInvertedButton {
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}


/* Call buttons  */

#CommonSingleCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;


}
#CommonSingleCallButton:pressed {
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }

#CommonLeftCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-right : $MARGIN_SMALL;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;


}
#CommonLeftCallButton:pressed {
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }

#CommonRightCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-left : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;


}
#CommonRightCallButton:pressed {
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }

#CommonSingleRejectButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-negative-background $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;


}
#CommonSingleRejectButton:pressed {
    background-image : meegotouch-button-negative-background-pressed $CORNER_MARGINS;
    }

#CommonLeftRejectButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-negative-background $CORNER_MARGINS;
    margin-right : $MARGIN_SMALL;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;


}
#CommonLeftRejectButton:pressed {
    background-image : meegotouch-button-negative-background-pressed $CORNER_MARGINS;
    }

#CommonRightRejectButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-negative-background $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-left : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;


}
#CommonRightRejectButton:pressed {
    background-image : meegotouch-button-negative-background-pressed $CORNER_MARGINS;
    }
    
#CommonTopCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-top : $MARGIN_DOUBLE;
    margin-left : $INDENT_DEFAULT;

}
/* position on the left side in LS */
#CommonTopCallButton.Landscape {
    margin-right : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
}
#CommonTopCallButton.Portrait {
    margin-right : $INDENT_DEFAULT;
    margin-bottom : 1mm; 
}
#CommonTopCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }

#CommonBottomCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-bottom : $MARGIN_DOUBLE;
    margin-right : $INDENT_DEFAULT;

}
/* position on the right side in LS */
#CommonBottomCallButton.Landscape {
    margin-top : $MARGIN_DOUBLE;
    margin-left : $MARGIN_SMALL;
}
#CommonBottomCallButton.Portrait {
    margin-top : 1mm;
    margin-left : $INDENT_DEFAULT;
}
#CommonBottomCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    }

#CommonVerticalCenterCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;

}
#CommonVerticalCenterCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }
    
#CommonVerticalCenterCallButton.Landscape {
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-right : $MARGIN_SMALL;
    margin-left : $MARGIN_SMALL;
}
#CommonVerticalCenterCallButton.Portrait {
    margin-top : $MARGIN_MEDIUM;
    margin-bottom : $MARGIN_MEDIUM;
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
}

#CommonHorizontalCenterCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-left : $MARGIN_SMALL;
    margin-right : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

#CommonHorizontalCenterCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }

#CommonTopCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-top : $MARGIN_DOUBLE;
    margin-left : $INDENT_DEFAULT;

}
/* position on the left side in LS */

#CommonTopCallButton.Landscape {
    margin-right : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
}
#CommonTopCallButton.Portrait {
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_MEDIUM; 
}
#CommonTopCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }


#CommonBottomCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-bottom : $MARGIN_DOUBLE;
    margin-right : $INDENT_DEFAULT;

}
/* position on the right side in LS */

#CommonBottomCallButton.Landscape {
    margin-top : $MARGIN_DOUBLE;
    margin-left : $MARGIN_SMALL;
}
#CommonBottomCallButton.Portrait {
    margin-top : 1mm;
    margin-left : $INDENT_DEFAULT;
}
#CommonBottomCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    }

#CommonVerticalCenterCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;

}
#CommonVerticalCenterCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }
    
#CommonVerticalCenterCallButton.Landscape {
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-right : $MARGIN_SMALL;
    margin-left : $MARGIN_SMALL;
}
#CommonVerticalCenterCallButton.Portrait {
    margin-top : $MARGIN_MEDIUM;
    margin-bottom : $MARGIN_MEDIUM;
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
}

#CommonHorizontalCenterCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-left : $MARGIN_SMALL;
    margin-right : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;

}
#CommonHorizontalCenterCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }

#CommonTopCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-top : $MARGIN_DOUBLE;
    margin-left : $INDENT_DEFAULT;

}
/* position on the left side in LS */
#CommonTopCallButton.Landscape {
    margin-right : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
}
#CommonTopCallButton.Portrait {
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_MEDIUM; 
}
#CommonTopCallButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }


#CommonBottomCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-bottom : $MARGIN_DOUBLE;
    margin-right : $INDENT_DEFAULT;

}
/* position on the right side in LS */

#CommonBottomRejectButton.Landscape {
    margin-top : $MARGIN_DOUBLE;
    margin-left : $MARGIN_SMALL;
}
#CommonBottomRejectButton.Portrait {
    margin-top : $MARGIN_MEDIUM;
    margin-left : $INDENT_DEFAULT;
}
#CommonBottomRejectButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    }

#CommonVerticalCenterRejectButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
}
#CommonVerticalCenterRejectButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }
    
#CommonVerticalCenterRejectButton.Landscape {
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-right : $MARGIN_SMALL;
    margin-left : $MARGIN_SMALL;
}
#CommonVerticalCenterRejectButton.Portrait {
    margin-top : $MARGIN_MEDIUM;
    margin-bottom : $MARGIN_MEDIUM;
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
}

#CommonHorizontalCenterRejectButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-left : $MARGIN_SMALL;
    margin-right : $MARGIN_SMALL;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}
#CommonHorizontalCenterRejectButton:pressed {
    text-color: $COLOR_INVERTED_FOREGROUND;
    background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
    }

/*  Old split buttons   */

#CommonSplitButtonVerticalTop {
    background-image : meegotouch-buttongroup-background-vertical-top $CORNER_MARGINS;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : 0;
}
#CommonSplitButtonVerticalTop:pressed {
    background-image : meegotouch-buttongroup-background-pressed-vertical-top $CORNER_MARGINS;
}
#CommonSplitButtonVerticalTop:selected {
    background-image : meegotouch-buttongroup-background-selected-vertical-top $CORNER_MARGINS;
}

#CommonSplitButtonVerticalCenter {
    background-image : meegotouch-buttongroup-background-vertical-center $CORNER_MARGINS;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : 0;    
}
#CommonSplitButtonVerticalCenter:pressed {
    background-image : meegotouch-buttongroup-background-pressed-vertical-center $CORNER_MARGINS;
}
#CommonSplitButtonVerticalCenter:selected {
    background-image : meegotouch-buttongroup-background-selected-vertical-center $CORNER_MARGINS;
}

#CommonSplitButtonVerticalBottom {
    background-image : meegotouch-buttongroup-background-vertical-bottom $CORNER_MARGINS;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : $MARGIN_DOUBLE;
}
#CommonSplitButtonVerticalBottom:pressed {
    background-image : meegotouch-buttongroup-background-pressed-vertical-bottom $CORNER_MARGINS;
}
#CommonSplitButtonVerticalBottom:selected {
    background-image : meegotouch-buttongroup-background-selected-vertical-bottom $CORNER_MARGINS;
}

#CommonSplitButtonHorizontalLeft {
    background-image : meegotouch-buttongroup-background-horizontal-left $CORNER_MARGINS;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
}
#CommonSplitButtonHorizontalLeft:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-left $CORNER_MARGINS;
}
#CommonSplitButtonHorizontalLeft:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-left $CORNER_MARGINS;
}

#CommonSplitButtonHorizontalCenter {
    background-image : meegotouch-buttongroup-background-horizontal-center $CORNER_MARGINS;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : 0;
    margin-right : 0;

}
#CommonSplitButtonHorizontalCenter:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-center $CORNER_MARGINS;
}
#CommonSplitButtonHorizontalCenter:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-center $CORNER_MARGINS;
}

#CommonSplitButtonHorizontalRight {
    background-image : meegotouch-buttongroup-background-horizontal-right $CORNER_MARGINS;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
}
#CommonSplitButtonHorizontalRight:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-right $CORNER_MARGINS;
}
#CommonSplitButtonHorizontalRight:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-right $CORNER_MARGINS;
}


/* New splitbuttonstyles 28.06. */



#CommonTopSplitButton {
    margin-left : $INDENT_DEFAULT;
    margin-top : $MARGIN_DOUBLE;
}

#CommonTopSplitButton.Portrait {
    background-image : meegotouch-buttongroup-background-vertical-top $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-bottom : 0;
}
#CommonTopSplitButton.Portrait:pressed {
    background-image : meegotouch-buttongroup-background-pressed-vertical-top $CORNER_MARGINS;
}
#CommonTopSplitButton.Portrait:selected {
    background-image : meegotouch-buttongroup-background-selected-vertical-top $CORNER_MARGINS;
}

#CommonTopSplitButton.Landscape {
    background-image : meegotouch-buttongroup-background-horizontal-left $CORNER_MARGINS;
    margin-right : 0;
    margin-bottom : $MARGIN_DOUBLE;
}
#CommonTopSplitButton.Landscape:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-left $CORNER_MARGINS;
}
#CommonTopSplitButton.Landscape:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-left $CORNER_MARGINS;
}


#CommonVerticalCenterSplitButton {
}

#CommonVerticalCenterSplitButton.Portrait {
    background-image : meegotouch-buttongroup-background-vertical-center $CORNER_MARGINS;
    margin-top : 0;
    margin-bottom : 0;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
}
#CommonVerticalCenterSplitButton.Portrait:pressed {
    background-image : meegotouch-buttongroup-background-pressed-vertical-center $CORNER_MARGINS;
}
#CommonVerticalCenterSplitButton.Portrait:selected 
    background-image : meegotouch-buttongroup-background-selected-vertical-center $CORNER_MARGINS;
}

#CommonVerticalCenterSplitButton.Landscape {
    background-image : meegotouch-buttongroup-background-horizontal-center $CORNER_MARGINS;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : 0;
    margin-right : 0;
}
#CommonVerticalCenterSplitButton.Landscape:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-center $CORNER_MARGINS;
}
#CommonVerticalCenterSplitButton.Landscape:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-center $CORNER_MARGINS;
}


#CommonBottomSplitButton {
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
}

#CommonBottomSplitButton.Portrait {
    background-image : meegotouch-buttongroup-background-vertical-bottom $CORNER_MARGINS;
    margin-left : $INDENT_DEFAULT;
    margin-top : 0;
}
#CommonBottomSplitButton.Portrait:pressed {
    background-image : meegotouch-buttongroup-background-pressed-vertical-bottom $CORNER_MARGINS;
}
#CommonBottomSplitButton.Portrait:selected {
    background-image : meegotouch-buttongroup-background-selected-vertical-bottom $CORNER_MARGINS;
}

#CommonBottomSplitButton.Landscape {
    background-image : meegotouch-buttongroup-background-horizontal-right $CORNER_MARGINS;
    margin-left : 0;
    margin-top : $MARGIN_DOUBLE;
}
#CommonBottomSplitButton.Landscape:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-right $CORNER_MARGINS;
}
#CommonBottomSplitButton.Landscape:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-right $CORNER_MARGINS;
}





#CommonLeftSplitButton {
    background-image : meegotouch-buttongroup-background-horizontal-left $CORNER_MARGINS;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
}
#CommonLeftSplitButton:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-left $CORNER_MARGINS;
}
#CommonLeftSplitButton:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-left $CORNER_MARGINS;
}


#CommonHorizontalCenterSplitButton {
    background-image : meegotouch-buttongroup-background-horizontal-center $CORNER_MARGINS;
    margin-left : 0;
    margin-right : 0;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;

}
#CommonHorizontalCenterSplitButton:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-center $CORNER_MARGINS;
}
#CommonHorizontalCenterSplitButton:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-center $CORNER_MARGINS;
}


#CommonRightSplitButton {
    background-image : meegotouch-buttongroup-background-horizontal-right $CORNER_MARGINS;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;

}
#CommonRightSplitButton:pressed {
    background-image : meegotouch-buttongroup-background-pressed-horizontal-right $CORNER_MARGINS;
}
#CommonRightSplitButton:selected {
    background-image : meegotouch-buttongroup-background-selected-horizontal-right $CORNER_MARGINS;
}





/*  PANELS & LAYOUTS */


#CommonPanel {

    background-image : meegotouch-panel-background $CORNER_MARGINS;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    minimum-size : $SIZE_LIST $SIZE_LIST;   
}

#CommonPanelInverted {

    background-image : meegotouch-panel-inverted-background $CORNER_MARGINS;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    minimum-size : $SIZE_LIST $SIZE_LIST;  
}

#CommonPanel:pressed {

    background-image : meegotouch-panel-background-pressed $CORNER_MARGINS;
}

#CommonPanel:selected {

    background-image : meegotouch-panel-background-selected $CORNER_MARGINS;
}

#CommonPanelInverted:pressed {

    background-image : meegotouch-panel-inverted-background-pressed $CORNER_MARGINS;
}

#CommonPanelInverted:selected {

    background-image : meegotouch-panel-inverted-background-selected $CORNER_MARGINS;
}

#CommonSmallPanel {

    background-image : meegotouch-list-fullwidth-background $CORNER_MARGINS;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    minimum-size : 50 50;  
}

#CommonSmallPanel:pressed {

    background-image : meegotouch-list-fullwidth-background-pressed $CORNER_MARGINS;
}

#CommonHeaderPanel {

    background-color : #000000;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
}

#CommonLargeHeaderPanel {

    background-image : meegotouch-list-fullwidth-background $CORNER_MARGINS;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    minimum-size : 72 72;  
}


#CommonTitleIconGroup {

    margin-left : $INDENT_DEFAULT;
}

#CommonSubIconGroup {
    margin-top : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
}

#CommonButtonGroup {

    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

#CommonInputFieldGroup {

    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;    
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

/* Items for regulating even columns in full width views and dialogs */

#CommonLeftDialogItem {
    preferred-size: 50mm 8.8mm;
    minimum-size: 10mm -1;
    maximum-size: 50mm -1;
}

#CommonRightDialogItem {
    preferred-size: 50mm 8.8mm;
    minimum-size: 10mm -1;
    maximum-size: 50mm -1;
}

#CommonLeftColumn {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    preferred-size: 100% $SIZE_ONE;
    minimum-size: 50% $SIZE_ONE;
    maximum-size: 100% $SIZE_ONE;
}

#CommonLeftColumn.Portrait {
    preferred-size: 100% $SIZE_ONE;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
}

#CommonRightColumn {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    preferred-size: 50% $SIZE_ONE;
    minimum-size: 50% $SIZE_ONE;
    maximum-size: -1 -1;
}

#CommonRightColumn.Portrait {
    preferred-size: 100% $SIZE_ONE;
    minimum-size: -1 -1;
    maximum-size: -1 -1;
}


/*  STRUCTURAL ELEMENTS  */


#CommonSpacer {

    minimum-size : 0 0;
    maximum-size : 100.0mm 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : 0;
}

#VerticalCenterAlignmentSpacer {
    maximum-size: 0 0;
    minimum-size: 0 0;
    preferred-size: 0 0;
}
