/*  LABELS  */

#CommonSingleTitle {

    font : $FONT_DEFAULT;
    margin-left : $INDENT_DEFAULT;    
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : 0;
}

#CommonTitle {

    font : $FONT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_FOREGROUND;
}

#CommonTitleAccented {

    font : $FONT_LARGE;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_ACCENT1;

}

#CommonTitleInverted {

    font : $FONT_LARGE;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_SECONDARY_FOREGROUND;

}


#CommonSingleTitleInverted {

    font : $FONT_DEFAULT;
    margin-left : $INDENT_DEFAULT;    
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : 0;
    color : $COLOR_INVERTED_FOREGROUND;
}

#CommonSubTitle {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubTitleAccented {
	
    font : $FONT_SMALL;
    color : $COLOR_ACCENT1;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubTitleInverted {
	
    font : $FONT_SMALL;
    color : $COLOR_INVERTED_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

}

#CommonSubText {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubTextInverted {

    font : $FONT_SMALL;
    color : $COLOR_INVERTED_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonItemInfo {

    font : $FONT_SMALL;
    color : #000000;					/* TBD */
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonHeader {

    font : $FONT_SMALL;
    color : #FFFFFF;					/* TBD */
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubHeader {

    font : $FONT_SMALL;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : 0;
}

#CommonFieldHeader {

    font : $FONT_SMALL;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonQueryTitle {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    }
    
#CommonQueryText {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
    }
    
#CommonButtonLabel {
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT; 
}


#CommonBannerTitle {
    font : $FONT_DEFAULT;
    color : $COLOR_INVERTED_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;    
}

#CommonBannerSubTitle {
    font : $FONT_DEFAULT;
    color : $COLOR_FOREGROUND;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
}

#CommonBannerSingleTitle {
    font : $FONT_DEFAULT;
    color : $COLOR_INVERTED_FOREGROUND;
    margin-right: $MARGIN_XXLARGE;
}

#CommonBannerSingleSubTitle {
    font : $FONT_DEFAULT;
    color : $COLOR_FOREGROUND;
}

#CommonBannerItemInfo {
    font : $FONT_SMALL;
    color : #95969B;					/* TBD */
    margin-right : $INDENT_DEFAULT;
}

/*  Temporary styles */


#CommonTitleAccentedLeftMargin {

    font : $FONT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_ACCENT1;
}


#CommonTitleAccentedRightMargin {

    font : $FONT_DEFAULT;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_ACCENT1;
}


#CommonTitleLeftMargin {

    font : $FONT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_FOREGROUND;
}


#CommonTitleRightMargin {

    font : $FONT_DEFAULT;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XLARGE;
    margin-bottom : 0;
    color: $COLOR_FOREGROUND;
}


#CommonSubTitleLeftMargin {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}


#CommonSubTitleRightMargin {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}

#CommonSubTitleWithoutMargin {

    font : $FONT_SMALL;
    color : $COLOR_SECONDARY_FOREGROUND;
    margin-left : 0;
    margin-right : 0;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : 0;
}



/*  ICONS AND THUMBNAILS  */


#CommonMainIcon {

    maximum-size: 6.4mm 6.4mm;
    minimum-size: 6.4mm 6.4mm;
    preferred-size: 6.4mm 6.4mm;
    margin-left : $MARGIN_DOUBLE;
    margin-right : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
}

#CommonTitleIcon {

    margin-left : $MARGIN_DOUBLE;
    margin-right : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
}

#CommonTitleIconTop {

    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : $MARGIN_LARGE;
    margin-bottom : 0;
}

#CommonHeaderIcon {
    margin-left : $INDENT_DEFAULT;
}

#CommonSubIcon {

    maximum-size: 2.8mm 2.8mm;
    minimum-size: 2.8mm 2.8mm;
    preferred-size: 2.8mm 2.8mm;
    margin-left : $MARGIN_XSMALL;
    margin-right : $MARGIN_XSMALL;
    margin-top : $MARGIN_XSMALL;
    margin-bottom : $MARGIN_XSMALL;
}

#CommonSubIconTop {

    maximum-size: 2.8mm 2.8mm;
    minimum-size: 2.8mm 2.8mm;
    preferred-size: 2.8mm 2.8mm;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : $MARGIN_MEDIUM;
}

#CommonSubIconBottom {

    maximum-size: 2.8mm 2.8mm;
    minimum-size: 2.8mm 2.8mm;
    preferred-size: 2.8mm 2.8mm;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : 0;
}

#CommonSwitchIcon {

    margin-right : $INDENT_DEFAULT;
}

#CommonButtonIcon {
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    maximum-size: 3.2mm 3.2mm;
    minimum-size: 3.2mm 3.2mm;
    preferred-size: 3.2mm 3.2mm;

}


#CommonBannerMainIcon {
    maximum-size: 4.8mm 4.8mm;
    minimum-size: 4.8mm 4.8mm;
    preferred-size: 4.8mm 4.8mm;
    margin-right : $MARGIN_XLARGE;
}

#CommonThumbnail {

    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    maximum-size: 8.6mm 8.6mm;
    minimum-size: 8.6mm 8.6mm;
    preferred-size: 8.6mm 8.6mm;
}

#CommonSmallThumbnail {

    margin-left : $MARGIN_DOUBLE;
    margin-right : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
}


/*  CONTROLS  */


#CommonSwitch {

    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
}

#CommonSlider {

    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : 0;
    margin-right : 0;
    maximum-size : 50mm -1;
}

#CommonProgressIndicator {

    margin-right : $INDENT_DEFAULT;
}

#CommonProgressBar {
    margin-top : $MARGIN_DOUBLE;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    maximum-size: -1 16;
}

#CommonInputField {

    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

#CommonSingleButton {

    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}

#CommonLeftButton {
    margin-right : $MARGIN_LARGE;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}

#CommonCenterButton {
    margin-right : $MARGIN_LARGE;
    margin-left : $MARGIN_LARGE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}

#CommonRightButton {
    margin-right : $INDENT_DEFAULT;
    margin-left : $MARGIN_LARGE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}

#CommonIconButton  {

    margin-top: $MARGIN_DOUBLE;
    margin-bottom: $MARGIN_XLARGE;
}

#CommonCheckBox {

   margin-right : $INDENT_DEFAULT;
   margin-left : $INDENT_DEFAULT;
}

/* Call buttons  */

#CommonSingleCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
	background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}
#CommonSingleCallButton:pressed {
	background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
	}

#CommonLeftCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
	background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-right : $MARGIN_LARGE;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}
#CommonLeftCallButton:pressed {
	background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
	}

#CommonRightCallButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
	background-image : meegotouch-button-positive-background $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-left : $MARGIN_LARGE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}
#CommonRightCallButton:pressed {
	background-image : meegotouch-button-positive-background-pressed $CORNER_MARGINS;
	}

#CommonSingleRejectButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
	background-image : meegotouch-button-negative-background $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}
#CommonSingleRejectButton:pressed {
	background-image : meegotouch-button-negative-background-pressed $CORNER_MARGINS;
	}

#CommonLeftRejectButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
	background-image : meegotouch-button-negative-background $CORNER_MARGINS;
    margin-right : $MARGIN_LARGE;
    margin-left : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}
#CommonLeftRejectButton:pressed {
	background-image : meegotouch-button-negative-background-pressed $CORNER_MARGINS;
	}

#CommonRightRejectButton {
    text-color: $COLOR_INVERTED_FOREGROUND;
	background-image : meegotouch-button-negative-background $CORNER_MARGINS;
    margin-right : $INDENT_DEFAULT;
    margin-left : $MARGIN_LARGE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
    maximum-size : 50mm 6.4mm;
}
#CommonRightRejectButton:pressed {
	background-image : meegotouch-button-negative-background-pressed $CORNER_MARGINS;
	}

/*  split buttons   */

#CommonSplitButtonVerticalTop {
    background-image : meegotouch-buttongroup-background-vertical-top $CORNER_MARGINS;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : 0;
}

#CommonSplitButtonVerticalCenter {
    background-image : meegotouch-buttongroup-background-vertical-center $CORNER_MARGINS;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : 0;	
}
#CommonSplitButtonVerticalBottom {
    background-image : meegotouch-buttongroup-background-vertical-bottom $CORNER_MARGINS;
    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-top : 0;
    margin-bottom : $MARGIN_DOUBLE;
}



#CommonSplitButtonVerticalBottom:pressed {
    background-image : 'meegotouch-buttongroup-background-pressed-vertical-bottom';
}
#CommonSplitButtonVerticalBottom:selected {
    background-image : 'meegotouch-buttongroup-background-selected-vertical-bottom';
}

#CommonSplitButtonHorizontalLeft {
    background-image : 'meegotouch-buttongroup-background-horizontal-left';
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : $INDENT_DEFAULT;
    margin-right : 0;
}
#CommonSplitButtonHorizontalLeft:pressed {
    background-image : 'meegotouch-buttongroup-background-pressed-horizontal-left';
}
#CommonSplitButtonHorizontalLeft:selected {
    background-image : 'meegotouch-buttongroup-background-selected-horizontal-left';
}

#CommonSplitButtonHorizontalCenter {
    background-image : 'meegotouch-buttongroup-background-horizontal-center';
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : 0;
    margin-right : 0;

}
#CommonSplitButtonHorizontalCenter:pressed {
    background-image : 'meegotouch-buttongroup-background-pressed-horizontal-center';
}
#CommonSplitButtonHorizontalCenter:selected {
    background-image : 'meegotouch-buttongroup-background-selected-horizontal-center';
}

#CommonSplitButtonHorizontalRight {
    background-image : 'meegotouch-buttongroup-background-horizontal-right';
    margin-top : $MARGIN_DOUBLE;
    margin-bottom : $MARGIN_DOUBLE;
    margin-left : 0;
    margin-right : $INDENT_DEFAULT;
}
#CommonSplitButtonHorizontalRight:pressed {
    background-image : 'meegotouch-buttongroup-background-pressed-horizontal-right';
}
#CommonSplitButtonHorizontalRight:selected {
    background-image : 'meegotouch-buttongroup-background-selected-horizontal-right';
}


/*  PANELS & LAYOUTS */


#CommonPanel {

    background-image : meegotouch-panel-background $CORNER_MARGINS;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    minimum-size : 88 88;   
}

#CommonPanelInverted {

    background-image : meegotouch-panel-inverted-background $CORNER_MARGINS;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    minimum-size : 88 88;  
}

#CommonPanel:pressed {

	background-image : meegotouch-panel-background-pressed $CORNER_MARGINS;
}

#CommonPanel:selected {

	background-image : meegotouch-panel-background-selected $CORNER_MARGINS;
}

#CommonPanelInverted:pressed {

	background-image : meegotouch-panel-inverted-background-pressed $CORNER_MARGINS;
}

#CommonPanelInverted:selected {

	background-image : meegotouch-panel-inverted-background-selected $CORNER_MARGINS;
}

#CommonSmallPanel {

    background-image : meegotouch-list-fullwidth-background $CORNER_MARGINS;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
    minimum-size : 50 50;  
}

#CommonSmallPanel:pressed {

    background-image : meegotouch-list-fullwidth-background-pressed $CORNER_MARGINS;
}

#CommonHeaderPanel {

    background-color : #000000;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    margin-bottom : 0;
}

#CommonTitleIconGroup {

    margin-left : $INDENT_DEFAULT;
}

#CommonSubIconGroup {

    margin-right : $INDENT_DEFAULT;
}

#CommonButtonGroup {

    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

#CommonInputFieldGroup {

    margin-left : $INDENT_DEFAULT;
    margin-right : $INDENT_DEFAULT;	
    margin-bottom : $MARGIN_DOUBLE;
    margin-top : $MARGIN_DOUBLE;
}

/*  STRUCTURAL ELEMENTS  */


#CommonSpacer {

    minimum-size : 0 0;
    maximum-size : 1000 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 1.2mm;
    margin-bottom : 0;
}
