/* MBasicLayoutAnimationStyle : MLayoutAnimationStyle */
MBasicLayoutAnimationStyle {
    geometry-easing-curve: linear;
    opacity-easing-curve: linear;
    initial-showing-opacity: 0.0;
    initial-showing-scale-factor: 1.0;
    final-hiding-opacity: 0.0;
    final-hiding-scale-factor: 1.0;

    /* inherited from MLayoutAnimationStyle */
    duration: 600;
}

