/* MWidgetSlidedeAnimationStyle : MAbstractWidgetAnimationStyle */
MWidgetSlideAnimationStyle {
    delay: 0;
    duration: 5000;
    easing-curve: linear;
    origin: "right";
}

MWidgetSlideAnimationStyle#In {
    delay: 300;
    duration: 300;
    easing-curve: insine;
    origin: "top";
}

MWidgetSlideAnimationStyle#Out {
    delay: 0;
    duration: 300;
    easing-curve: outsine;
    origin: "top";
}

MDialog MWidgetSlideAnimationStyle#In {
    origin: "bottom";
    easing-curve: outexpo;
}

MDialog MWidgetSlideAnimationStyle#Out {
    origin: "bottom";
    easing-curve: incubic;
}

MInfoBanner MWidgetSlideAnimationStyle#In {
    origin: "left";
}

MInfoBanner MWidgetSlideAnimationStyle#Out {
    origin: "left";
}

MStatusBar MWidgetSlideAnimationStyle#In {
    delay: 0;
    duration: 300;
    easing-curve: linear;
}

MStatusBar MWidgetSlideAnimationStyle#Out {
    delay: 0;
    duration: 300;
    easing-curve: linear;
}

MSheet MWidgetSlideAnimationStyle#In {
    delay: 0;
    duration: 350;
    easing-curve: outexpo;
    origin: "bottom";
}

MSheet MWidgetSlideAnimationStyle#Out {
    delay: 0;
    duration: 350;
    easing-curve: inoutexpo;
    origin: "bottom";
}

MSheetSlot MWidgetSlideAnimationStyle#In {
    duration: 250;
    origin: "top";
    easing-curve: outexpo;
}

MSheetSlot MWidgetSlideAnimationStyle#Out {
    duration: 250;
    origin: "top";
    easing-curve: outexpo;
}

MNavigationBar MWidgetSlideAnimationStyle#In {
    duration: 250;
    delay: 0;
    origin: "bottom";
    easing-curve: outexpo;
}

MNavigationBar MWidgetSlideAnimationStyle#Out {
    duration: 250;
    delay: 0;
    origin: "bottom";
    easing-curve: outexpo;
}

MApplicationMenu MWidgetSlideAnimationStyle#In {
    delay: 0;
    duration: 350;
    origin: "bottom";
    easing-curve: inoutquint;
}
MApplicationMenu MWidgetSlideAnimationStyle#In.Landscape {
    origin: "right";
}

MApplicationMenu MWidgetSlideAnimationStyle#Out {
    delay: 0;
    duration: 350;
    origin: "bottom";
    easing-curve: inoutquint;
}
MApplicationMenu MWidgetSlideAnimationStyle#Out.Landscape {
    origin: "right";
}

MObjectMenu MWidgetSlideAnimationStyle.Landscape {
    origin: "right";
}

MObjectMenu MWidgetSlideAnimationStyle#In {
    delay: 0;
    duration: 250;
    origin: "bottom";
    easing-curve: outquint;
}
MObjectMenu MWidgetSlideAnimationStyle#In.Landscape {
    origin: "right";
}

MObjectMenu MWidgetSlideAnimationStyle#Out {
    delay: 0;
    duration: 350;
    origin: "bottom";
    easing-curve: inoutquint;
}
MObjectMenu MWidgetSlideAnimationStyle#Out.Landscape {
    origin: "right";
}
