/* MWidgetFadeAnimationStyle : MAbstractWidgetAnimationStyle */
MWidgetFadeOutAnimationStyle {
    delay: 0;
    duration: 300;
    easing-curve: outsine;
    opacity: 0.0;
}

MSceneLayerEffect MWidgetFadeOutAnimationStyle {
    delay: 300;
    duration: 400;
    easing-curve: outcubic;
    opacity: 0.75;
}
