/* MWidgetSlidedeInAnimationStyle : MAbstractWidgetAnimationStyle */
MWidgetSlideInAnimationStyle {
    duration: 300;
    easing-curve: insine;
    from: "top";
}

MDialog MWidgetSlideInAnimationStyle {
    from: "bottom";
    duration: 300;
}

MInfoBanner MWidgetSlideInAnimationStyle {
    from: "left";
}
