MWindowStyle {
    background-image: "meegotouch-window-background-forcex11";
    background-color: #ffffff;
}

MWindowStyle.Landscape {
    background-image: "meegotouch-window-background-forcex11";
    background-color: #ffffff;
}
