MWindowStyle {
    x11-startup-pixmap: "meegotouch-window-background-forcex11";
    startup-fill-color: #ffffff;
}

MWindowStyle.Landscape {
    x11-startup-pixmap: "meegotouch-window-background-forcex11";
    startup-fill-color: #ffffff;
}
